{% extends "basis.html" %}
{% load l10n %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_aid %}

{% block extend_header %}
<link href="{% static 'dp/daterangepicker.min.css' %}" rel="stylesheet">

<link href="{% static 'css/transition.css' %}" rel="stylesheet">
<link href="{% static 'css/form.css' %}" rel="stylesheet">

<script src="{% static 'dp/moment.js' %}"></script>
<script src="{% static 'dp/daterangepicker.js' %}"></script>
<script src="{% static 'js/cropit.js' %}"></script>
<script src="{% static 'js/date.js' %}"></script>

<script src="{% static 'js/validation.js' %}"></script>

<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
{% block content %}
<div id="profile_container" class="container">
  <form id="profile_form" class="ui form" method="POST">
  {% csrf_token %}
    <div class="b-quest mrg">
      {{ profile_form.errors }}
    </div>
    <div class="b-quest-form">
    <div class="row">
        <div class="col-md-9">
        <div class="b-quest__header">
            <div class="b-quest__name">
                {{ request.user.profile.l_name}} {{ request.user.profile.f_name}} {{ request.user.profile.m_name}}
            </div>
        </div>
        <div class="form-name row fields">
            <div class="field">
                <input id="id_l_name" maxlength="30" name="l_name" type="text" placeholder="Фамилия" value="{{ request.user.profile.l_name}}"/>
            </div>
            <div class="field">
                <input id="id_f_name" maxlength="30" name="f_name" type="text" placeholder="Имя" value="{{ request.user.profile.f_name}}"/>
            </div>
            <div class="field">
                <input id="id_m_name" maxlength="30" name="m_name" type="text"placeholder="Отчество" value="{{ request.user.profile.m_name}}"/>
            </div>
        </div>
            <div class="field">
                <label class="label-head label-head--inline">
                    <span>Дата рождения:</span>
                </label>
            </div>
          <div id="birth_date" class="fields"> 
            <div class="two wide field">
                <input id="id_bd_day" maxlength="2" name="bd_day" type="text" placeholder="День" value="{{ request.user.profile.bd_day}}"></input>
            </div>
            <div class="four wide field">
              {{ profile_form.bd_month|add_class:"ui dropdown"}}
            </div>
            <div class="two wide field">
              <input id="id_bd_year" maxlength="4" name="bd_year" type="text" placeholder="Год" value="{{ request.user.profile.bd_year}}"></input>
            </div>
          </div>
          <div id="date_check">
             <div class="ui basic red pointing prompt label">Введите корректную дату! (День Месяц Год)</div>
          </div>
         </div>       
        </div>
        <hr class="hr-dotted"/>
        <div class="form-inline form-passport-id">
            <div class="form-group">
                    <label class="label-sub-head label-sub-head--inline">
                        <span>Гражданство</span>
                    </label>
            </div>
             <div class="form-group">
                <div class="form-stretched__cell form-stretched__cell--value">
                    {{ profile_form.citizenship|add_class:"custom-select custom-select--width-month selectpicker ui search selection dropdown"}}
                </div>
            </div>
        </div>
        <div class="form-inline form-passport-id">
           <input id="reg_check" type="hidden" value="{{ request.user.profile.area.id }}"/>
           <input id="met_check" type="hidden" value="{{ request.user.profile.metro.id }}"/>
          <div class="form-group">
                <label class="label-sub-head label-sub-head--inline label-sub-head--reg">
                    <span>Регион</span>
                </label>
            </div>
            <div class="form-group">
                <div class="form-stretched__cell form-stretched__cell--value">
                    {{ profile_form.area|add_class:"custom-select custom-select--width-month selectpicker ui search selection dropdown"}}
                    <script type="text/javascript">
                         $('#id_area').val("{% user_aid %}");
                    </script>
              </div>
            </div>
        </div>
        <hr class="hr-dotted"/>
        <div class="label-head">
            <span>Тел. Мобильный:</span>
        </div>
        <div class="form-inline form-mobile-phone field">
            <div class="form-group">
                <input id="id_phone" class="form-control custom-form-control" maxlength="20" name="phone" type="text" placeholder="+7 (___) ___-__-__" value="{{ request.user.profile.phone}}"></input>
            </div>
        </div>
        <hr class="hr-dotted"/>
        <div class="label-head">
            <span>Пожелания к работе:</span>
        </div>
        <div class="field">
           <textarea rows="5" id="id_experience" placeholder="Описание" name="experience">{% if request.user.profile.experience %}{{ request.user.profile.experience }}{% endif %}</textarea>
        </div>
        <hr class="hr-dotted"/>
        {% if request.user.profile.filled %}
        {% else %}
            <input type="submit" id="edit_submit" class="btn btn-form btn-block" value="Внести изменения">
        {% endif %}
    </div>  
  </form>
</div>
{% include "validation_modal.html" %}
{% endblock %}

{% block scripts %}


{% endblock %}