{% extends "basis.html" %}
{% load staticfiles %}

{% block content %}
<div class="ui padded grid">
    <div class="sixteen wide column">
        <div id="profile_cont" class="ui segment grid">
            <div class="three wide column">
                <img class="ui small rounded image" src="{{ request.user.profile.avatar.url}}"></img>
            </div>
            {% if request.user.profile.filled %}
            <div class="thirteen wide column">
                <h3>{{ request.user.profile.l_name}} {{ request.user.profile.f_name}} {{ request.user.profile.m_name}}</h3>
                <div class="ui divider"></div>
                <p>{{ request.user.profile.bd_day }}.{{ request.user.profile.bd_month }}.{{ request.user.profile.bd_year }}</p>
                {% if request.user.profile.area %}
                    <p>{{ request.user.profile.area }}</p>
                {% endif %}
                <p>{{ request.user.profile.phone }}</p>
                <p>{{ request.user.profile.about }}</p>
            </div>
            {% else %}
            <div class="thirteen wide center aligned column">
                <h2 class="ui red header">Ваш профиль совсем пустой. Любая активность недоступна. Пожалуйста, заполните его.</h2>
            </div>
            {% endif %}
            <div class="sixteen wide center aligned column">
                <a href="/edit" class="ui small primary button">Редактировать</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
