<div class="modal fade" id="profile_modal" tabindex="-1" role="dialog" aria-labelledby="profile_modal_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Вы не заполнили обязательные поля!</h4>
      </div>
      <div class="modal-body">
          Обязательными полями являются:
          <ul>
              <li>Фамилия и имя</li>
              <li>Дата рождения</li>
              <li>Номер телефона</li>
          </ul>
          Если эти поля останутся пустыми, функциональность на сайте будет ограничена.
          <p>
              Продолжить сохранение профиля с незаполненными полями?
          </p>
      </div>
      <div class="modal-footer">
        <button id="req_cancel" type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
        <button id="req_submit" type="button" class="btn btn-primary" data-dismiss="modal">Да</button>
      </div>
    </div>
  </div>
</div>