{% extends "basis.html" %}
{% load l10n %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_aid %}

{% block extend_header %}
<script src="{% static 'js/come.js' %}"></script>
{% endblock %}
{% block content %}
<div class="content-wrap">
    <div class="top-icons-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="top-icons-list">
                        <li>
                            <a href="/jobs">
                                <span class="icon icon1"></span>
                                <span class="text">
                                    <span class="title">Выбирай</span><br>
                                    <em>Посмотри вакансии</em>
                                </span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/come">
                                <span class="icon icon2"></span>
                                <span class="text">
                                    <span class="title">Приходи</span><br>
                                    <em>Наши адреса</em>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/earn">
                                <span class="icon icon3"></span>
                                <span class="text">
                                    <span class="title">Зарабатывай</span><br>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/rest">
                                <span class="icon icon4"></span>
                                <span class="text">
                                    <span class="title">Отдыхай</span><br>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="work-choose-city">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--<div class="choose-title">Выберите ваш город</div>-->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="choose-title">Выберите ваш город</div>
                        </div>
                        <div id="city_selector" class="col-md-6">
                            <select id="city_select" class="selection ui fluid search dropdown">
                                <option value="{{ user_city }}">Выберите ваш город</option>
                                {% for c in cities %}
                                <option value="{{ c.city }}">{{ c.city }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!--<div class="col-md-3">
                            <button class="choose">Выбрать</button>
                        </div>-->
                    </div>
                </div>  
                <div class="col-md-12"><div class="choose-border"></div></div>  
            </div>
        </div>
    </div>
    <div class="work-city-result">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="res-title">Ваш город <span id="city_title">{{ user_city }}</span></div>
                </div>
            </div>
        </div>
        <div id="office_info">
            {% if user_city %}
            {% for o in user_office %}
                    <div class="result-item">
                        <div class="container">
                            <div class="row cont-list">
                                <div class="col-md-3">
                                    <div class="con-label">Адрес:</div>       
                                </div>
                                <div class="col-md-9">
                                    <div class="value">{{ o.address }}</div>    
                                </div>
                                <div class="col-md-3">
                                    <div class="con-label">Телефон:</div>       
                                </div>
                                <div class="col-md-9">
                                    <div class="value">{{ o.phone }}</div>    
                                </div>
                                <div class="col-md-3">
                                    <div class="con-label">График работы офиса:</div>       
                                </div>
                                <div class="col-md-9">
                                    <div class="value">{{ o.schedule }}</div>    
                                </div>
                                <div class="col-md-3">
                                    <div class="con-label">E-mail:</div>       
                                </div>
                                <div class="col-md-9">
                                    <div class="value"><a href="mailto:{{ o.email }}">{{ o.email }}</a></div>    
                                </div>
                                <div class="col-md-12">
                                    <div class="result-map">
                                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid={{ o.map_id }}&amp;width=1140&amp;height=290&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
                                    </div>
                                </div>
                                <!--<div class="col-md-6"><button class="send">Записаться на собеседование</button></div>-->
                                <div class="col-md-12"><div class="choose-border"></div></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}