{% extends "basis.html" %}
{% load l10n %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_aid %}

{% block extend_header %}

{% endblock %}
{% block content %}
<div class="content-wrap">
    <div class="top-icons-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="top-icons-list">
                        <li>
                            <a href="/jobs">
                                <span class="icon icon1"></span>
                                <span class="text">
                                    <span class="title">Выбирай</span><br>
                                    <em>Посмотри вакансии</em>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/come">
                                <span class="icon icon2"></span>
                                <span class="text">
                                    <span class="title">Приходи</span><br>
                                    <em>Наши адреса</em>
                                </span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/earn">
                                <span class="icon icon3"></span>
                                <span class="text">
                                    <span class="title">Зарабатывай</span><br>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/rest">
                                <span class="icon icon4"></span>
                                <span class="text">
                                    <span class="title">Отдыхай</span><br>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="work-article">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="work-menu">
                        <li>
                            <a href="/earn">
                                <img src="/static/img/work-menu-img.png" alt="">
                                <span>Карьерный рост</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/earnmore">
                                <img src="/static/img/work-menu-img1.png" alt="">
                                <span>Заработай больше</span>
                            </a>
                        </li>
                    </ul>  
                    <div class="work-article-body">
                        <div class="work-title">Компания Лидер Тим приглашает на вакансию Счетчик-ревизор</div>
                        <div class="text-center"><img src="/static/img/work-icon.jpg" alt=""></div>
                        <div class="choose-border"></div>
                        <div class="sub-title">Обязанности:</div>
                        <p>Сканирование и пересчет товарно-материальных ценностей на объектах: одежда, обувь, бижутерия, продукты питания, бытовая химия, стройматериалы.</p>
                        <div class="sub-title">Требования:</div>
                        <p>Внимательность, пунктуальность, ответственность. Знание ПК на уровне пользователя.<br>Опыт работы со сканером (ТСД) приветствуется.</p>
                        <div class="sub-title">Условия:</div>
                        <p>Мы предлагаем работу в дневные и ночные смены на различных торговых точках и складских объектах.<br>Продолжительность работ максимально до 12 часов.</p>
                        <div class="sub-title">Преимущества:</div>
                        <p>Бесплатное обучение<br>Гибкий график работы<br>Оформление по договору<br>Возможность карьерного роста<br>Постоянное наличие смен<br>Трудоустройство по всей территории РФ</p>
                        <div class="sub-title">Уровень зарплаты по России:</div>
                        <p>От 900 рублей до 1500 рублей, зависит напрямую от качества выполнения работ.<br>Оплачиваемые переработки от 12 часов.</p>
                        <div class="interview-wrap">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text">
                                        <div class="inter-title">Запись на собеседование:</div>
                                        <p class="muted">Москва и МО: тел. 8-926-970-49-31<br>Регионы: 8-926-217-23-70</p>
                                        <ul class="company-data">
                                            <li><span>Сайт:</span><a href="http://rvzr.ru">http://rvzr.ru</a></li>
                                            <li><span>Почта:</span><a href="mailto:hr@rvzr.ru">hr@rvzr.ru</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 image"><img src="/static/img/interview-img.jpg" alt=""></div>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
          
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}