{% extends "basis.html" %}
{% load l10n %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_aid %}

{% block extend_header %}

{% endblock %}
{% block content %}
<div class="content-wrap">
    <div class="top-icons-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="top-icons-list">
                        <li>
                            <a href="/jobs">
                                <span class="icon icon1"></span>
                                <span class="text">
                                    <span class="title">Выбирай</span><br>
                                    <em>Посмотри вакансии</em>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/come">
                                <span class="icon icon2"></span>
                                <span class="text">
                                    <span class="title">Приходи</span><br>
                                    <em>Наши адреса</em>
                                </span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/earn">
                                <span class="icon icon3"></span>
                                <span class="text">
                                    <span class="title">Зарабатывай</span><br>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/rest">
                                <span class="icon icon4"></span>
                                <span class="text">
                                    <span class="title">Отдыхай</span><br>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="work-article">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="work-menu">
                        <li class="active">
                            <a href="/earn">
                                <img src="/static/img/work-menu-img.png" alt="">
                                <span>Карьерный рост</span>
                            </a>
                        </li>
                        <li>
                            <a href="/earnmore">
                                <img src="/static/img/work-menu-img1.png" alt="">
                                <span>Заработай больше</span>
                            </a>
                        </li>
                    </ul>  
                    <div class="work-article-body">
                        <p><strong>Карьерный рост в Компании Лидер Тим</strong> - это возможность каждого развиваться и повышать свой уровень квалификации. Дополнительное обучение, стажировки, получение профессиональных навыков - все это не просто слова, а реальная десятилетняя практика работы Компании Лидер Тим. Мы гордимся сотрудниками-профессионалами, знающих от А до Я свою работу не только теоретически, но и на практике. Истории, когда мерчендайзер заслуженно становится супервайзером, менеджером по работе с клиентами или даже начальником отдела, не редки в нашей компании.</p>   
                        <p>В 2015 году Компания усилила работу в доступности карьерного роста для каждого сотрудника, запущен специальный Всероссийский проект – Кадровый резерв Лидер Тим. Компания заинтересована в росте и развитии своих сотрудников, и готова всячески поддерживать самых активных и амбициозных.</p>     
                        <div class="choose-border"></div>
                        <div class="work-article-sub-slogan">Заполняй анкету прямо сейчас! Твоя карьера в твоих руках!</div>
                        <div class="work-article-slogan">Заполнить анкету Кадровый резерв</div>
                        <div class="image"><img src="/static/img/work-img.jpg" alt=""></div>
                    </div>   
                </div>
            </div>
        </div>
          
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}