{% extends "basis.html" %}
{% load l10n %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_aid %}

{% block extend_header %}
<link href="{% static 'css/mediaBox.css' %}" rel="stylesheet">
<link href="/static/css/magnific-popup.css" rel="stylesheet">
<link href="/static/css/mediaBox.css" rel="stylesheet">

<script src="/static/js/isotope.js"></script>
<script src="/static/js/imagesLoaded.js"></script>
<script src="/static/js/waypoints.js"></script>
<script src="/static/js/transit.js"></script>
<script src="/static/js/easing.js"></script>
<script src="/static/js/modernizr.js"></script>
<script src="/static/js/popup.js"></script>
<script src="/static/js/mediaBox.js"></script>
<script src="/static/js/gallery.js"></script>
{% endblock %}
{% block content %}
<div class="content-wrap">
    <div class="top-icons-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="top-icons-list">
                        <li>
                            <a href="/jobs">
                                <span class="icon icon1"></span>
                                <span class="text">
                                    <span class="title">Выбирай</span><br>
                                    <em>Посмотри вакансии</em>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/come">
                                <span class="icon icon2"></span>
                                <span class="text">
                                    <span class="title">Приходи</span><br>
                                    <em>Наши адреса</em>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/earn">
                                <span class="icon icon3"></span>
                                <span class="text">
                                    <span class="title">Зарабатывай</span><br>
                                </span>
                            </a>
                        </li>
                        <li  class="active">
                            <a href="/rest">
                                <span class="icon icon4"></span>
                                <span class="text">
                                    <span class="title">Отдыхай</span><br>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="work-article">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="work-menu">
                        <li>
                            <a href="/rest">
                                <img src="/static/img/work-menu-img2.png" alt="">
                                <span>Корпоративная жизнь</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/gallery">
                                <img src="/static/img/work-menu-img3.png" alt="">
                                <span>Фотогалерея</span>
                            </a>
                        </li>
                        <li>
                            <a href="/video">
                                <img src="/static/img/work-menu-img4.png" alt="">
                                <span>Видео</span>
                            </a>
                        </li>
                        <li>
                            <a href="/newspaper">
                                <img src="/static/img/work-menu-img5.png" alt="">
                                <span>Газета</span>
                            </a>
                        </li>
                    </ul>  
                    <div class="work-article-body">
                        <div class="content grid-container">

                            <div class="filters-container">
                                <ul class="media-boxes-filter" id="filter">
                                    <li><a class="selected" href="#" data-filter="*">Все</a></li>
									<li><a href="#" data-filter=".polety">Первоклашка 2014</a></li>
									<li><a href="#" data-filter=".turizm">Дисней Ленд 2014</a></li>
									<li><a href="#" data-filter=".rabota">Лидер Тим и Радуга Детства</a></li>
									<li><a href="#" data-filter=".otdykh">В Крым с Лидер Тим</a></li>
									<li><a href="#" data-filter=".modnyy-noyabr-2013">Модный ноябрь 2013</a></li>
									<li><a href="#" data-filter=".timbilding-2014">Тимбилдинг 2014</a></li>
                                </ul>
                            </div>
                            <div id="grid" class="media-boxes-container lazy-load-ready">

									<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/30754ef38664206e1ad4400a6cdd1693.jpg" title="Тимбилдинг55"></div>
											<div data-popup="/static/img/gallery/30754ef38664206e1ad4400a6cdd1693.jpg" title="Тимбилдинг55"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
									<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/bb05564b8c9198a5e9febd6a75c8cde1.jpg" title="Тимбилдинг54"></div>
											<div data-popup="/static/img/gallery/bb05564b8c9198a5e9febd6a75c8cde1.jpg" title="Тимбилдинг54"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" data-columns="2">
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/a03d4aea2fa2ce250340dec127565d6f.jpg" title="Тимбилдинг53"></div>
											<div data-popup="/static/img/gallery/a03d4aea2fa2ce250340dec127565d6f.jpg" title="Тимбилдинг53"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" data-columns="2">
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/579145fa23d9bf52e03e0bfcd2fd4180.jpg" title="Тимбилдинг52"></div>
											<div data-popup="/static/img/gallery/579145fa23d9bf52e03e0bfcd2fd4180.jpg" title="Тимбилдинг52"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
									<div class="media-box rabota" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/4fa645da51e006e49fbeee783da17170.jpg" title="Дельфинарий"></div>
											<div data-popup="/static/img/gallery/4fa645da51e006e49fbeee783da17170.jpg" title="Дельфинарий"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/ee2bd954672734bbf5a0489afb79f94d.jpg" title="В Крым с Лидер Тим24"></div>
											<div data-popup="/upload/iblock/ee2/ee2bd954672734bbf5a0489afb79f94d.jpg" title="В Крым с Лидер Тим24"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/beb3acdbba27beddf9c5035f75a98b49.jpg" title="Тимбилдинг51"></div>
											<div data-popup="/static/img/gallery/beb3acdbba27beddf9c5035f75a98b49.jpg" title="Тимбилдинг51"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/bc3e11d5199795748dbd3e77a4e1c5aa.jpg" title="Тимбилдинг50"></div>
											<div data-popup="/static/img/gallery/bc3e11d5199795748dbd3e77a4e1c5aa.jpg" title="Тимбилдинг50"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/1423e999077dab99535bcc203441510d.jpg" title="Тимбилдинг49"></div>
											<div data-popup="/static/img/gallery/1423e999077dab99535bcc203441510d.jpg" title="Тимбилдинг49"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/7a0905c0cda98e6ca2e0617318b3c9b8.jpg" title="Тимбилдинг48"></div>
											<div data-popup="/static/img/gallery/7a0905c0cda98e6ca2e0617318b3c9b8.jpg" title="Тимбилдинг48"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/af5034d92539255fa6f397641bc93667.jpg" title="Тимбилдинг47"></div>
											<div data-popup="/static/img/gallery/af5034d92539255fa6f397641bc93667.jpg" title="Тимбилдинг47"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/5be011a1a328608de5a74ae4fc6e66c7.jpg" title="Тимбилдинг46"></div>
											<div data-popup="/static/img/gallery/5be011a1a328608de5a74ae4fc6e66c7.jpg" title="Тимбилдинг46"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
								<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/fdf9530b825d26aae5d6629feb8f37a3.jpg" title="Первоклашка25"></div>
											<div data-popup="/static/img/gallery/fdf9530b825d26aae5d6629feb8f37a3.jpg" title="Первоклашка25"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/f8bc9c1c4f232b29ea227cb1789ed8f1.jpg" title="Тимбилдинг45"></div>
											<div data-popup="/static/img/gallery/f8bc9c1c4f232b29ea227cb1789ed8f1.jpg" title="Тимбилдинг45"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/c9b84a0b90a90bb55c5c2fc2120abf4f.jpg" title="Тимбилдинг44"></div>
											<div data-popup="/static/img/gallery/c9b84a0b90a90bb55c5c2fc2120abf4f.jpg" title="Тимбилдинг44"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/7e8a09b70272918ca13c503a8fdcbc6b.jpg" title="Тимбилдинг43"></div>
											<div data-popup="/static/img/gallery/7e8a09b70272918ca13c503a8fdcbc6b.jpg" title="Тимбилдинг43"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/ca85a04cf03238f24c09f3d401479d71.jpg" title="Тимбилдинг42"></div>
											<div data-popup="/static/img/gallery/ca85a04cf03238f24c09f3d401479d71.jpg" title="Тимбилдинг42"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/5f9984842eb3f5f553f7eb1e2d8f15e9.jpg" title="Тимбилдинг41"></div>
											<div data-popup="/static/img/gallery/5f9984842eb3f5f553f7eb1e2d8f15e9.jpg" title="Тимбилдинг41"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/c99f60029b1a3d9ae2578b1804439f59.jpg" title="Тимбилдинг40"></div>
											<div data-popup="/static/img/gallery/c99f60029b1a3d9ae2578b1804439f59.jpg" title="Тимбилдинг40"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/a5be1cdbc890c19e8e305b234351d2e0.jpg" title="Тимбилдинг39"></div>
											<div data-popup="/static/img/gallery/a5be1cdbc890c19e8e305b234351d2e0.jpg" title="Тимбилдинг39"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/afd49a40d0a06bf55262afa4e1df4046.jpg" title="Тимбилдинг38"></div>
											<div data-popup="/static/img/gallery/afd49a40d0a06bf55262afa4e1df4046.jpg" title="Тимбилдинг38"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/4f5bcc2668123f222301e58d6bdc9719.jpg" title="Тимбилдинг37"></div>
											<div data-popup="/static/img/gallery/4f5bcc2668123f222301e58d6bdc9719.jpg" title="Тимбилдинг37"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/bc9171e051f76ac595322b36a3061ede.jpg" title="Тимбилдинг36"></div>
											<div data-popup="/static/img/gallery/bc9171e051f76ac595322b36a3061ede.jpg" title="Тимбилдинг36"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/906ca869311173fe8e229641d78aa58b.jpg" title="Тимбилдинг35"></div>
											<div data-popup="/static/img/gallery/906ca869311173fe8e229641d78aa58b.jpg" title="Тимбилдинг35"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/5477d64d1b552cd65dfdd259b2d3d9b6.jpg" title="Тимбилдинг34"></div>
											<div data-popup="/static/img/gallery/5477d64d1b552cd65dfdd259b2d3d9b6.jpg" title="Тимбилдинг34"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/fc655730c93f2fa923044e77ab57d867.jpg" title="Тимбилдинг33"></div>
											<div data-popup="/static/img/gallery/fc655730c93f2fa923044e77ab57d867.jpg" title="Тимбилдинг33"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
								<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/9d56463f963b7d9936f1ee03f08f5400.jpg" title="Модный ноябрь13"></div>
											<div data-popup="/static/img/gallery/9d56463f963b7d9936f1ee03f08f5400.jpg" title="Модный ноябрь13"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/98053e58e49be44f327453c5487189be.jpg" title="Тимбилдинг32"></div>
											<div data-popup="/static/img/gallery/98053e58e49be44f327453c5487189be.jpg" title="Тимбилдинг32"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/0e6db07a361ded7307f9e42cc76b4dc4.jpg" title="Тимбилдинг31"></div>
											<div data-popup="/static/img/gallery/0e6db07a361ded7307f9e42cc76b4dc4.jpg" title="Тимбилдинг31"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/bfc279897a9b2d67cbb3860aebb50a04.jpg" title="Тимбилдинг30"></div>
											<div data-popup="/static/img/gallery/bfc279897a9b2d67cbb3860aebb50a04.jpg" title="Тимбилдинг30"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/fdc0ca528a552e80456c7cca449a467f.jpg" title="Тимбилдинг29"></div>
											<div data-popup="/static/img/gallery/fdc0ca528a552e80456c7cca449a467f.jpg" title="Тимбилдинг29"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/9c3ef8faa9f9ee79f39319b317681160.jpg" title="Тимбилдинг28"></div>
											<div data-popup="/static/img/gallery/9c3ef8faa9f9ee79f39319b317681160.jpg" title="Тимбилдинг28"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/8f578bee313598c59652c637428a9992.jpg" title="Тимбилдинг27"></div>
											<div data-popup="/static/img/gallery/8f578bee313598c59652c637428a9992.jpg" title="Тимбилдинг27"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/f52105f01f8665377697381813fde6b5.jpg" title="Тимбилдинг26"></div>
											<div data-popup="/static/img/gallery/f52105f01f8665377697381813fde6b5.jpg" title="Тимбилдинг26"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/e0f32c6bcdf20a3eaa2bcd693b8b5725.jpg" title="Тимбилдинг25"></div>
											<div data-popup="/static/img/gallery/e0f32c6bcdf20a3eaa2bcd693b8b5725.jpg" title="Тимбилдинг25"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/9ffcda6bb883c8b1a0524d4dcfd86762.jpg" title="Тимбилдинг24"></div>
											<div data-popup="/static/img/gallery/9ffcda6bb883c8b1a0524d4dcfd86762.jpg" title="Тимбилдинг24"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/b29ea569b17fd1ef9da2f25a9ac21d30.jpg" title="Тимбилдинг23"></div>
											<div data-popup="/static/img/gallery/b29ea569b17fd1ef9da2f25a9ac21d30.jpg" title="Тимбилдинг23"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/bac2220f34a1ed0031474d538f8eaa5d.jpg" title="Тимбилдинг22"></div>
											<div data-popup="/static/img/gallery/bac2220f34a1ed0031474d538f8eaa5d.jpg" title="Тимбилдинг22"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/b42881495c8f3e33694ea3abfc26e6c9.jpg" title="Тимбилдинг21"></div>
											<div data-popup="/static/img/gallery/b42881495c8f3e33694ea3abfc26e6c9.jpg" title="Тимбилдинг21"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/e215b7ab4aa237b73925fd93ff66275c.jpg" title="Тимбилдинг20"></div>
											<div data-popup="/static/img/gallery/e215b7ab4aa237b73925fd93ff66275c.jpg" title="Тимбилдинг20"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/503bb8ae19b029dc3fdf93a86483187c.jpg" title="Тимбилдинг19"></div>
											<div data-popup="/static/img/gallery/503bb8ae19b029dc3fdf93a86483187c.jpg" title="Тимбилдинг19"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/d0ba0475dfb4173d94718547bf4bbe28.jpg" title="Тимбилдинг18"></div>
											<div data-popup="/static/img/gallery/d0ba0475dfb4173d94718547bf4bbe28.jpg" title="Тимбилдинг18"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
								<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/45e50e17c96dbde8b6cd230d0a97e5b9.jpg" title="Disney11"></div>
											<div data-popup="/static/img/gallery/45e50e17c96dbde8b6cd230d0a97e5b9.jpg" title="Disney11"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/a5146be1655f29702cb60b562e3dbfdf.jpg" title="Тимбилдинг17"></div>
											<div data-popup="/static/img/gallery/a5146be1655f29702cb60b562e3dbfdf.jpg" title="Тимбилдинг17"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/0e051e2b95a70ef1660213d0fe1415fb.jpg" title="Тимбилдинг16"></div>
											<div data-popup="/static/img/gallery/0e051e2b95a70ef1660213d0fe1415fb.jpg" title="Тимбилдинг16"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/9823f4afb71f6764874602e2bb4c398f.jpg" title="Тимбилдинг15"></div>
											<div data-popup="/static/img/gallery/9823f4afb71f6764874602e2bb4c398f.jpg" title="Тимбилдинг15"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/3ebf5009398a3b31b6335322357b78e4.jpg" title="Тимбилдинг14"></div>
											<div data-popup="/static/img/gallery/3ebf5009398a3b31b6335322357b78e4.jpg" title="Тимбилдинг14"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/f386665ca6f0a116bd45e30948d1f907.jpg" title="Тимбилдинг13"></div>
											<div data-popup="/static/img/gallery/f386665ca6f0a116bd45e30948d1f907.jpg" title="Тимбилдинг13"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/49ef10a9127c8913a17aadd7f0f2f803.jpg" title="Тимбилдинг12"></div>
											<div data-popup="/static/img/gallery/49ef10a9127c8913a17aadd7f0f2f803.jpg" title="Тимбилдинг12"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/e515074925540d42b0a4551f88000f71.jpg" title="Тимбилдинг11"></div>
											<div data-popup="/static/img/gallery/e515074925540d42b0a4551f88000f71.jpg" title="Тимбилдинг11"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/9e707e5401c4994f80af7e3573cd7dd8.jpg" title="Тимбилдинг10"></div>
											<div data-popup="/static/img/gallery/9e707e5401c4994f80af7e3573cd7dd8.jpg" title="Тимбилдинг10"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/2b3f1a16d20c66f305f7c14da7c5b5d7.jpg" title="Тимбилдинг9"></div>
											<div data-popup="/static/img/gallery/2b3f1a16d20c66f305f7c14da7c5b5d7.jpg" title="Тимбилдинг9"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/d2894d2644a58eb27b33312f10602ebb.jpg" title="Тимбилдинг8"></div>
											<div data-popup="/static/img/gallery/d2894d2644a58eb27b33312f10602ebb.jpg" title="Тимбилдинг8"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/cb5823afb35b571f960ae399f6964af6.jpg" title="Тимбилдинг7"></div>
											<div data-popup="/static/img/gallery/cb5823afb35b571f960ae399f6964af6.jpg" title="Тимбилдинг7"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/21205bc5ae1924cb6b4e5e40d26a3f32.jpg" title="Тимбилдинг6"></div>
											<div data-popup="/static/img/gallery/21205bc5ae1924cb6b4e5e40d26a3f32.jpg" title="Тимбилдинг6"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/690b3ae7e0dbbff4fa3ade3f950b904f.jpg" title="Тимбилдинг5"></div>
											<div data-popup="/static/img/gallery/690b3ae7e0dbbff4fa3ade3f950b904f.jpg" title="Тимбилдинг5"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/c3b5347b717b5c0983bf0a7400e12e41.jpg" title="Тимбилдинг4"></div>
											<div data-popup="/static/img/gallery/c3b5347b717b5c0983bf0a7400e12e41.jpg" title="Тимбилдинг4"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/b19b29ceeb05e0f33f812842280cd80a.jpg" title="Тимбилдинг3"></div>
											<div data-popup="/static/img/gallery/b19b29ceeb05e0f33f812842280cd80a.jpg" title="Тимбилдинг3"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/9a51c9d3d927fbf92dd738b0b94181ce.jpg" title="Тимбилдинг2"></div>
											<div data-popup="/static/img/gallery/9a51c9d3d927fbf92dd738b0b94181ce.jpg" title="Тимбилдинг2"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box timbilding-2014" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/e136ec6832407fc12dccbd3055796f42.jpg" title="Тимбилдинг"></div>
											<div data-popup="/static/img/gallery/e136ec6832407fc12dccbd3055796f42.jpg" title="Тимбилдинг"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box rabota" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/e8fd3e94f2db2bc68c66d3d5beb41ba8.jpg" title="Дельфинарий9"></div>
											<div data-popup="/static/img/gallery/e8fd3e94f2db2bc68c66d3d5beb41ba8.jpg" title="Дельфинарий9"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box rabota" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/dc12ee2f87f9347905aa9e9986dd24ea.jpg" title="Дельфинарий8"></div>
											<div data-popup="/static/img/gallery/dc12ee2f87f9347905aa9e9986dd24ea.jpg" title="Дельфинарий8"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box rabota" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/7a98ddd50c3916294fd3ea1b46394238.jpg" title="Дельфинарий7"></div>
											<div data-popup="/static/img/gallery/7a98ddd50c3916294fd3ea1b46394238.jpg" title="Дельфинарий7"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box rabota" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/38af888479c000b96a16c98a374d7344.jpg" title="Дельфинарий6"></div>
											<div data-popup="/static/img/gallery/38af888479c000b96a16c98a374d7344.jpg" title="Дельфинарий6"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box rabota" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/74b00ea0f094731d257d715fce204c92.jpg" title="Дельфинарий5"></div>
											<div data-popup="/static/img/gallery/74b00ea0f094731d257d715fce204c92.jpg" title="Дельфинарий5"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box rabota" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/ed0ecb550b18c9a75209508ee36f2920.jpg" title="Дельфинарий4"></div>
											<div data-popup="/static/img/gallery/ed0ecb550b18c9a75209508ee36f2920.jpg" title="Дельфинарий4"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box rabota" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/363a53fb29c34af1eba2f9f40910b1fd.jpg" title="Дельфинарий3"></div>
											<div data-popup="/static/img/gallery/363a53fb29c34af1eba2f9f40910b1fd.jpg" title="Дельфинарий3"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box rabota" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/6440305c935df381ab4a752945ad9aff.jpg" title="Дельфинарий2"></div>
											<div data-popup="/static/img/gallery/6440305c935df381ab4a752945ad9aff.jpg" title="Дельфинарий2"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/24a3872211280e335e40bf0b1c208908.JPG" title="В Крым с Лидер Тим23"></div>
											<div data-popup="/static/img/gallery/24a3872211280e335e40bf0b1c208908.JPG" title="В Крым с Лидер Тим23"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/b0c2b3b69c31aa9da2d671c1c4ea92b9.jpg" title="В Крым с Лидер Тим22"></div>
											<div data-popup="/upload/iblock/b0c/b0c2b3b69c31aa9da2d671c1c4ea92b9.jpg" title="В Крым с Лидер Тим22"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/e5115082af5dbc89809dffe6dc2dd5b2.jpg" title="В Крым с Лидер Тим21"></div>
											<div data-popup="/upload/iblock/e51/e5115082af5dbc89809dffe6dc2dd5b2.jpg" title="В Крым с Лидер Тим21"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/5d19655f374467bb8e32bf21941b1750.JPG" title="В Крым с Лидер Тим20"></div>
											<div data-popup="/upload/iblock/5d1/5d19655f374467bb8e32bf21941b1750.JPG" title="В Крым с Лидер Тим20"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/7543dff699b8f9c3000b0301b2cd8e2d.jpg" title="В Крым с Лидер Тим19"></div>
											<div data-popup="/upload/iblock/754/7543dff699b8f9c3000b0301b2cd8e2d.jpg" title="В Крым с Лидер Тим19"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/04439d88f6315a1c3178b1540065e702.JPG" title="В Крым с Лидер Тим18"></div>
											<div data-popup="/upload/iblock/044/04439d88f6315a1c3178b1540065e702.JPG" title="В Крым с Лидер Тим18"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/fca2447639128a43c57aacc3a0400668.jpg" title="В Крым с Лидер Тим17"></div>
											<div data-popup="/upload/iblock/fca/fca2447639128a43c57aacc3a0400668.jpg" title="В Крым с Лидер Тим17"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/0c08b373be6f936c755b33b64ba728f7.jpg" title="В Крым с Лидер Тим16"></div>
											<div data-popup="/upload/iblock/0c0/0c08b373be6f936c755b33b64ba728f7.jpg" title="В Крым с Лидер Тим16"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/e731c85745e64bce3843af98964a23ff.jpg" title="В Крым с Лидер Тим15"></div>
											<div data-popup="/upload/iblock/e73/e731c85745e64bce3843af98964a23ff.jpg" title="В Крым с Лидер Тим15"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/6dbcdd2f6e0b04c99f4e0825975a53cf.jpg" title="В Крым с Лидер Тим14"></div>
											<div data-popup="/upload/iblock/6db/6dbcdd2f6e0b04c99f4e0825975a53cf.jpg" title="В Крым с Лидер Тим14"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/644773e93929b9dfe98fd9885cabdb44.jpg" title="В Крым с Лидер Тим13"></div>
											<div data-popup="/upload/iblock/644/644773e93929b9dfe98fd9885cabdb44.jpg" title="В Крым с Лидер Тим13"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/cf3f9e6dcaddaa83d25497045c71473d.jpg" title="В Крым с Лидер Тим12"></div>
											<div data-popup="/upload/iblock/cf3/cf3f9e6dcaddaa83d25497045c71473d.jpg" title="В Крым с Лидер Тим12"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/a3be93aec4abb9a4f64375c8fc7d937c.jpg" title="В Крым с Лидер Тим11"></div>
											<div data-popup="/upload/iblock/a3b/a3be93aec4abb9a4f64375c8fc7d937c.jpg" title="В Крым с Лидер Тим11"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/e235c0a36d72e0d7e15ad8ea87d0f6c4.jpg" title="В Крым с Лидер Тим10"></div>
											<div data-popup="/upload/iblock/e23/e235c0a36d72e0d7e15ad8ea87d0f6c4.jpg" title="В Крым с Лидер Тим10"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/e9a193fa175d870b166ef16b79311c08.jpg" title="В Крым с Лидер Тим9"></div>
											<div data-popup="/upload/iblock/e9a/e9a193fa175d870b166ef16b79311c08.jpg" title="В Крым с Лидер Тим9"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/ebfb5705523061fab8874857e624dff1.jpg" title="В Крым с Лидер Тим8"></div>
											<div data-popup="/upload/iblock/ebf/ebfb5705523061fab8874857e624dff1.jpg" title="В Крым с Лидер Тим8"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/14b7748b0fe86988bddd9357db036406.jpg" title="В Крым с Лидер Тим7"></div>
											<div data-popup="/upload/iblock/14b/14b7748b0fe86988bddd9357db036406.jpg" title="В Крым с Лидер Тим7"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/03e801c94c70f9573f39b0cf9047c03c.jpg" title="В Крым с Лидер Тим6"></div>
											<div data-popup="/upload/iblock/03e/03e801c94c70f9573f39b0cf9047c03c.jpg" title="В Крым с Лидер Тим6"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/4a160e47978558604531029c0cb2317f.jpg" title="В Крым с Лидер Тим5"></div>
											<div data-popup="/upload/iblock/4a1/4a160e47978558604531029c0cb2317f.jpg" title="В Крым с Лидер Тим5"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/8d7f8beeb7fb78702eb5f62c4e5fe9e4.jpg" title="В Крым с Лидер Тим4"></div>
											<div data-popup="/upload/iblock/8d7/8d7f8beeb7fb78702eb5f62c4e5fe9e4.jpg" title="В Крым с Лидер Тим4"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/d962560ba29f1f3cab4283f2b4afebde.jpg" title="В Крым с Лидер Тим3"></div>
											<div data-popup="/upload/iblock/d96/d962560ba29f1f3cab4283f2b4afebde.jpg" title="В Крым с Лидер Тим3"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/5f845da8337f72d25242f523f722d0c9.jpg" title="В Крым с Лидер Тим2"></div>
											<div data-popup="/upload/iblock/5f8/5f845da8337f72d25242f523f722d0c9.jpg" title="В Крым с Лидер Тим2"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box otdykh" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/db0dcd0726acef6179c6f5b72e813cb3.jpg" title="В Крым с Лидер Тим"></div>
											<div data-popup="/upload/iblock/db0/db0dcd0726acef6179c6f5b72e813cb3.jpg" title="В Крым с Лидер Тим"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/449cc8a81b142c7ef72ae62f349f2e5e.jpg" title="Первоклашка28"></div>
											<div data-popup="/static/img/gallery/449cc8a81b142c7ef72ae62f349f2e5e.jpg" title="Первоклашка28"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/d314656465f6de6f443db20e0313a1b6.jpg" title="Первоклашка27"></div>
											<div data-popup="/static/img/gallery/d314656465f6de6f443db20e0313a1b6.jpg" title="Первоклашка27"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/7b62b87f3e56b826893c84495c7704dd.JPG" title="Первоклашка26"></div>
											<div data-popup="/static/img/gallery/7b62b87f3e56b826893c84495c7704dd.JPG" title="Первоклашка26"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/fdf9530b825d26aae5d6629feb8f37a3.jpg" title="Первоклашка25"></div>
											<div data-popup="/static/img/gallery/fdf9530b825d26aae5d6629feb8f37a3.jpg" title="Первоклашка25"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/27082f218d51a1a6522e52292745f739.jpg" title="Первоклашка24"></div>
											<div data-popup="/static/img/gallery/27082f218d51a1a6522e52292745f739.jpg" title="Первоклашка24"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/497fb6fe363f41a355ea4af1555617ef.jpg" title="Первоклашка23"></div>
											<div data-popup="/static/img/gallery/497fb6fe363f41a355ea4af1555617ef.jpg" title="Первоклашка23"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/1dc4ed9da66d7cdf7e489d9cd993fa55.jpg" title="Первоклашка22"></div>
											<div data-popup="/static/img/gallery/1dc4ed9da66d7cdf7e489d9cd993fa55.jpg" title="Первоклашка22"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/735cee6a7b2a92fb3f43f4e5e2c03793.jpg" title="Первоклашка21"></div>
											<div data-popup="/static/img/gallery/735cee6a7b2a92fb3f43f4e5e2c03793.jpg" title="Первоклашка21"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/14355c9d7cb518369dcb4e8ecbe73db5.jpg" title="Первоклашка20"></div>
											<div data-popup="/static/img/gallery/14355c9d7cb518369dcb4e8ecbe73db5.jpg" title="Первоклашка20"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/ccf97145ea4b07384d55456ab338844e.jpg" title="Первоклашка19"></div>
											<div data-popup="/static/img/gallery/ccf97145ea4b07384d55456ab338844e.jpg" title="Первоклашка19"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/149fc59719b2b8452b8a0d778a0b6d2a.jpg" title="Первоклашка18"></div>
											<div data-popup="/static/img/gallery/149fc59719b2b8452b8a0d778a0b6d2a.jpg" title="Первоклашка18"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/4eb17f55cb6d705cf140328e1ab4f3e0.jpg" title="Первоклашка17"></div>
											<div data-popup="/static/img/gallery/4eb17f55cb6d705cf140328e1ab4f3e0.jpg" title="Первоклашка17"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/327c8d670c33588ee2c07c6da3abfbe9.jpg" title="Первоклашка16"></div>
											<div data-popup="/static/img/gallery/327c8d670c33588ee2c07c6da3abfbe9.jpg" title="Первоклашка16"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/6b3ab9910c30bf9546109c9f04d22958.jpg" title="Первоклашка15"></div>
											<div data-popup="/upload/iblock/6b3/6b3ab9910c30bf9546109c9f04d22958.jpg" title="Первоклашка15"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/69bb61734cadbca3f67ae454f324e708.jpg" title="Первоклашка14"></div>
											<div data-popup="/static/img/gallery/69bb61734cadbca3f67ae454f324e708.jpg" title="Первоклашка14"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/4b1ebe345b0138181448deb6dbcc7a9d.jpg" title="Первоклашка13"></div>
											<div data-popup="/static/img/gallery/4b1ebe345b0138181448deb6dbcc7a9d.jpg" title="Первоклашка13"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/45e3968b441682f91f5ac5ca1106c3ef.jpg" title="Первоклашка12"></div>
											<div data-popup="/static/img/gallery/45e3968b441682f91f5ac5ca1106c3ef.jpg" title="Первоклашка12"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/6ece7a85578abdb36f16167e0bc5291b.jpg" title="Первоклашка11"></div>
											<div data-popup="/static/img/gallery/6ece7a85578abdb36f16167e0bc5291b.jpg" title="Первоклашка11"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/4e2175405935db60ee8e3eca2da6c9cf.jpg" title="Первоклашка10"></div>
											<div data-popup="/static/img/gallery/4e2175405935db60ee8e3eca2da6c9cf.jpg" title="Первоклашка10"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/38cae7d99d0ad2f37aaae95739984f3a.jpg" title="Первоклашка9"></div>
											<div data-popup="/static/img/gallery/38cae7d99d0ad2f37aaae95739984f3a.jpg" title="Первоклашка9"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/2e4543cdbf01c1c8817369649c659f01.jpg" title="Первоклашка8"></div>
											<div data-popup="/static/img/gallery/2e4543cdbf01c1c8817369649c659f01.jpg" title="Первоклашка8"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/caf1ee80b31ce9f4e7f38d5422759267.jpg" title="Первоклашка7"></div>
											<div data-popup="/static/img/gallery/caf1ee80b31ce9f4e7f38d5422759267.jpg" title="Первоклашка7"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/467e4c135dc10751ed3c5a94a60c4169.JPG" title="Первоклашка6"></div>
											<div data-popup="/static/img/gallery/467e4c135dc10751ed3c5a94a60c4169.JPG" title="Первоклашка6"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/5baa2c726bfe365eff9df366e11ebace.JPG" title="Первоклашка5"></div>
											<div data-popup="/static/img/gallery/5baa2c726bfe365eff9df366e11ebace.JPG" title="Первоклашка5"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/2d5d53222c81d285f5a245c45566de50.JPG" title="Первоклашка4"></div>
											<div data-popup="/static/img/gallery/2d5d53222c81d285f5a245c45566de50.JPG" title="Первоклашка4"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/c0c0491a0bc08065ed847aae675dafc5.jpg" title="Первоклашка3"></div>
											<div data-popup="/static/img/gallery/c0c0491a0bc08065ed847aae675dafc5.jpg" title="Первоклашка3"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/1d42c5570edce756ae965a6bc32707aa.jpg" title="Первоклашка2"></div>
											<div data-popup="/static/img/gallery/1d42c5570edce756ae965a6bc32707aa.jpg" title="Первоклашка2"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box polety" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/f95147c1086bac06efe2ae94408d4368.jpg" title="Первоклашка1"></div>
											<div data-popup="/static/img/gallery/f95147c1086bac06efe2ae94408d4368.jpg" title="Первоклашка1"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/0c68ddbf54163612507112221cadbb2d.jpg" title="Модный ноябрь29"></div>
											<div data-popup="/static/img/gallery/0c68ddbf54163612507112221cadbb2d.jpg" title="Модный ноябрь29"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/fba2058bdbbe2d144b2ff1c34843fdd8.jpg" title="Модный ноябрь28"></div>
											<div data-popup="/static/img/gallery/fba2058bdbbe2d144b2ff1c34843fdd8.jpg" title="Модный ноябрь28"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/296e7397ed8dd618e04506b5fe49344c.png" title="Модный ноябрь27"></div>
											<div data-popup="/static/img/gallery/296e7397ed8dd618e04506b5fe49344c.png" title="Модный ноябрь27"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/2f373a8f3a0ddcb27ac49b705099ac21.jpg" title="Модный ноябрь26"></div>
											<div data-popup="/static/img/gallery/2f373a8f3a0ddcb27ac49b705099ac21.jpg" title="Модный ноябрь26"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/4ba9efe04933bcc5db933db64a7f022d.jpg" title="Модный ноябрь25"></div>
											<div data-popup="/static/img/gallery/4ba9efe04933bcc5db933db64a7f022d.jpg" title="Модный ноябрь25"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/5293b7075f93250afe9a45b446de78e3.jpg" title="Модный ноябрь23"></div>
											<div data-popup="/static/img/gallery/5293b7075f93250afe9a45b446de78e3.jpg" title="Модный ноябрь23"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/dd9b77d83ea00b447637473ecf33efbc.jpg" title="Модный ноябрь22"></div>
											<div data-popup="/static/img/gallery/dd9b77d83ea00b447637473ecf33efbc.jpg" title="Модный ноябрь22"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/4f07e4cc57edbeed6011e2bdf079066e.jpg" title="Модный ноябрь21"></div>
											<div data-popup="/static/img/gallery/4f07e4cc57edbeed6011e2bdf079066e.jpg" title="Модный ноябрь21"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/3683804976f7b86109a5344264d1bf7a.jpg" title="Модный ноябрь20"></div>
											<div data-popup="/static/img/gallery/3683804976f7b86109a5344264d1bf7a.jpg" title="Модный ноябрь20"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/ba1b751a91d1ee56585b84162cd08f24.jpg" title="Модный ноябрь19"></div>
											<div data-popup="/static/img/gallery/ba1b751a91d1ee56585b84162cd08f24.jpg" title="Модный ноябрь19"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/78089e84f6ef2fe334126e8f47e8b14a.jpg" title="Модный ноябрь18"></div>
											<div data-popup="/static/img/gallery/78089e84f6ef2fe334126e8f47e8b14a.jpg" title="Модный ноябрь18"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/8af22eb460dd82a52139d8ad3807dc88.jpg" title="Модный ноябрь17"></div>
											<div data-popup="/static/img/gallery/8af22eb460dd82a52139d8ad3807dc88.jpg" title="Модный ноябрь17"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/85bd39c620ddd0cf977e83ce1fed5314.jpg" title="Модный ноябрь16"></div>
											<div data-popup="/static/img/gallery/85bd39c620ddd0cf977e83ce1fed5314.jpg" title="Модный ноябрь16"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/3027eb97d2869eae8d2942b5b7a5145a.jpg" title="Модный ноябрь14"></div>
											<div data-popup="/static/img/gallery/3027eb97d2869eae8d2942b5b7a5145a.jpg" title="Модный ноябрь14"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/b227f6c5e7e9f8a0f967dd0ad65d9e6c.jpg" title="Модный ноябрь12"></div>
											<div data-popup="/static/img/gallery/b227f6c5e7e9f8a0f967dd0ad65d9e6c.jpg" title="Модный ноябрь12"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/3e5f682bbe2f07f24e3499cb83b65eb4.jpg" title="Модный ноябрь11"></div>
											<div data-popup="/static/img/gallery/3e5f682bbe2f07f24e3499cb83b65eb4.jpg" title="Модный ноябрь11"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/392d7f747123edbcea136ad3bf6be28f.jpg" title="Модный ноябрь10"></div>
											<div data-popup="/static/img/gallery/392d7f747123edbcea136ad3bf6be28f.jpg" title="Модный ноябрь10"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/002add00a5e412b0094af422838845e3.jpg" title="Модный ноябрь9"></div>
											<div data-popup="/static/img/gallery/002add00a5e412b0094af422838845e3.jpg" title="Модный ноябрь9"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/91d8694b08571a47c78d899ee4916602.jpg" title="Модный ноябрь8"></div>
											<div data-popup="/static/img/gallery/91d8694b08571a47c78d899ee4916602.jpg" title="Модный ноябрь8"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/f35726c3da4edb8bbdb83c42d94551f9.jpg" title="Модный ноябрь7"></div>
											<div data-popup="/static/img/gallery/f35726c3da4edb8bbdb83c42d94551f9.jpg" title="Модный ноябрь7"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/28cc69ff26f1cc2462c8e33e441c293a.jpg" title="Модный ноябрь6"></div>
											<div data-popup="/static/img/gallery/28cc69ff26f1cc2462c8e33e441c293a.jpg" title="Модный ноябрь6"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/e20d45a33b28aa4999e98bc7ebf20d5f.jpg" title="Модный ноябрь5"></div>
											<div data-popup="/static/img/gallery/e20d45a33b28aa4999e98bc7ebf20d5f.jpg" title="Модный ноябрь5"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/4898bd363160ae837d15a15d99ae6673.jpg" title="Модный ноябрь4"></div>
											<div data-popup="/static/img/gallery/4898bd363160ae837d15a15d99ae6673.jpg" title="Модный ноябрь4"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/6d1e6b4d644ff5e77789d0960ad07e71.jpg" title="Модный ноябрь3"></div>
											<div data-popup="/static/img/gallery/6d1e6b4d644ff5e77789d0960ad07e71.jpg" title="Модный ноябрь3"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/7a19c387b54b1dbb0e23214344e2d42b.jpg" title="Модный ноябрь2"></div>
											<div data-popup="/static/img/gallery/7a19c387b54b1dbb0e23214344e2d42b.jpg" title="Модный ноябрь2"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/65de99586a2a2dc89c94def2f4d67eb9.jpg" title="Модный ноябрь1"></div>
											<div data-popup="/static/img/gallery/65de99586a2a2dc89c94def2f4d67eb9.jpg" title="Модный ноябрь1"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box modnyy-noyabr-2013" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/526ec34b0def74f642f37de601e2e45d.jpg" title="Модный ноябрь"></div>
											<div data-popup="/static/img/gallery/526ec34b0def74f642f37de601e2e45d.jpg" title="Модный ноябрь"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/e5ebc556af8a142034d8b083134a1247.jpg" title="Disney20"></div>
											<div data-popup="/static/img/gallery/e5ebc556af8a142034d8b083134a1247.jpg" title="Disney20"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/4f7b79739ed5448dd5a594face28d006.jpg" title="Disney19"></div>
											<div data-popup="/static/img/gallery/4f7b79739ed5448dd5a594face28d006.jpg" title="Disney19"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/be65da069db2e6cddc6d090eb465f47b.jpg" title="Disney18"></div>
											<div data-popup="/static/img/gallery/be65da069db2e6cddc6d090eb465f47b.jpg" title="Disney18"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/68b174e0549071e3fb72ed7674068f3e.jpg" title="Disney17"></div>
											<div data-popup="/static/img/gallery/68b174e0549071e3fb72ed7674068f3e.jpg" title="Disney17"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/12bca8edc214d48d428da20ec321dbb8.jpg" title="Disney16"></div>
											<div data-popup="/static/img/gallery/12bca8edc214d48d428da20ec321dbb8.jpg" title="Disney16"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/ccca689719999c49bc35729d2c2e6ba7.jpg" title="Disney15"></div>
											<div data-popup="/static/img/gallery/ccca689719999c49bc35729d2c2e6ba7.jpg" title="Disney15"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/b18497ae16225def1e8051ecf16cab04.jpg" title="Disney14"></div>
											<div data-popup="/static/img/gallery/b18497ae16225def1e8051ecf16cab04.jpg" title="Disney14"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/1099781b3da050b02a5d68197d336239.jpg" title="Disney13"></div>
											<div data-popup="/static/img/gallery/1099781b3da050b02a5d68197d336239.jpg" title="Disney13"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/02a91c49d35ea3c0e8a0e1fc77350f44.jpg" title="Disney12"></div>
											<div data-popup="/static/img/gallery/02a91c49d35ea3c0e8a0e1fc77350f44.jpg" title="Disney12"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/f2d45028c957204c9cdb8aac73e5c452.jpg" title="Disne10"></div>
											<div data-popup="/static/img/gallery/f2d45028c957204c9cdb8aac73e5c452.jpg" title="Disne10"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/0f8167691bb8dbaecdd0763c9070354a.jpg" title="Disney9"></div>
											<div data-popup="/static/img/gallery/0f8167691bb8dbaecdd0763c9070354a.jpg" title="Disney9"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/dddb7f5ef3aa1f5652279d3b5d5343fa.jpg" title="Disney8"></div>
											<div data-popup="/static/img/gallery/dddb7f5ef3aa1f5652279d3b5d5343fa.jpg" title="Disney8"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/4453db6d978d0e7b10f5982e4df5be41.jpg" title="Disney7"></div>
											<div data-popup="/static/img/gallery/4453db6d978d0e7b10f5982e4df5be41.jpg" title="Disney7"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/82718b7d807e2e9382541e571e111951.jpg" title="Disney6"></div>
											<div data-popup="/static/img/gallery/82718b7d807e2e9382541e571e111951.jpg" title="Disney6"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/0205dfee9ed30e57427e2d74677bd2f8.jpg" title="Disney5"></div>
											<div data-popup="/static/img/gallery/0205dfee9ed30e57427e2d74677bd2f8.jpg" title="Disney5"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/c6993948a92db2fecad9bcc1d011d126.jpg" title="Disney4"></div>
											<div data-popup="/static/img/gallery/c6993948a92db2fecad9bcc1d011d126.jpg" title="Disney4"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/2bf36e90cb43545eaaa7b1eba09f5f6c.jpg" title="Disney3"></div>
											<div data-popup="/static/img/gallery/2bf36e90cb43545eaaa7b1eba09f5f6c.jpg" title="Disney3"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/d61620a8c93a9107ec0fda46b59cd790.jpg" title="Disney2"></div>
											<div data-popup="/static/img/gallery/d61620a8c93a9107ec0fda46b59cd790.jpg" title="Disney2"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>
											<div class="media-box turizm" >
										<div class="media-box-image">
															<div data-thumbnail="/static/img/gallery/thumb/bbef4d0a0a7a8e46b5d5ed0a1ff4cf9a.jpg" title="Disney"></div>
											<div data-popup="/static/img/gallery/bbef4d0a0a7a8e46b5d5ed0a1ff4cf9a.jpg" title="Disney"></div>';      
											<div class="thumbnail-overlay">
												<i class="fa fa-plus mb-open-popup"></i>
											</div>
										</div>
									</div>

                            <div class="media-boxes-grid-sizer" style="width: 239px;"></div>
                            </div></div> 
                    </div>   
                </div>
            </div>
        </div>
          
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}