{% extends "basis.html" %}
{% load l10n %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_aid %}

{% block extend_header %}
<script src="{% static 'js/come.js' %}"></script>
{% endblock %}
{% block content %}
<div class="content-wrap">
    <div class="top-icons-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="top-icons-list">
                        <li>
                            <a href="/jobs">
                                <span class="icon icon1"></span>
                                <span class="text">
                                    <span class="title">Выбирай</span><br>
                                    <em>Посмотри вакансии</em>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/come">
                                <span class="icon icon2"></span>
                                <span class="text">
                                    <span class="title">Приходи</span><br>
                                    <em>Наши адреса</em>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/earn">
                                <span class="icon icon3"></span>
                                <span class="text">
                                    <span class="title">Зарабатывай</span><br>
                                </span>
                            </a>
                        </li>
                        <li  class="active">
                            <a href="/rest">
                                <span class="icon icon4"></span>
                                <span class="text">
                                    <span class="title">Отдыхай</span><br>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="work-article">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="work-menu">
                        <li>
                            <a href="/rest">
                                <img src="/static/img/work-menu-img2.png" alt="">
                                <span>Корпоративная жизнь</span>
                            </a>
                        </li>
                        <li>
                            <a href="/gallery">
                                <img src="/static/img/work-menu-img3.png" alt="">
                                <span>Фотогалерея</span>
                            </a>
                        </li>
                        <li>
                            <a href="/video">
                                <img src="/static/img/work-menu-img4.png" alt="">
                                <span>Видео</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/newspaper">
                                <img src="/static/img/work-menu-img5.png" alt="">
                                <span>Газета</span>
                            </a>
                        </li>
                    </ul>  
                    <div class="work-article-body">
                        <h1 class="work-title">Корпоративная газета</h1>
                        <div class="row">
                            <div class="col-md-4 text-center photo-image" style="text-align: center;"><a href="/static/pdf/paper_1.pdf" target=_blank><img src="/static/img/paper_1.jpg" alt="" style="width: 258px;height: 354px;"></a></div>
                            <div class="col-md-4 text-center photo-image" style="text-align: center;"><a href="/static/pdf/paper_2.pdf" target=_blank><img src="/static/img/paper_2.jpg" alt="" style="width: 258px;height: 354px;"></a></div>
							<div class="col-md-4 text-center photo-image" style="text-align: center;"><a href="/static/pdf/paper_3.pdf" target=_blank><img src="/static/img/paper_3.jpg" alt="" style="width: 258px;height: 354px;"></a></div>
                        </div>
						<div class="row">
                            <div class="col-md-4 text-center photo-image" style="text-align: center;"><a href="/static/pdf/paper_4.pdf" target=_blank><img src="/static/img/paper_4.jpg" alt="" style="width: 258px;height: 354px;"></a></div>
                            <div class="col-md-4 text-center photo-image" style="text-align: center;"><a href="/static/pdf/paper_5.pdf" target=_blank><img src="/static/img/paper_5.jpg" alt="" style="width: 258px;height: 354px;"></a></div>
							<div class="col-md-4 text-center photo-image" style="text-align: center;"><a href="/static/pdf/paper_6.pdf" target=_blank><img src="/static/img/paper_6.jpg" alt="" style="width: 258px;height: 354px;"></a></div>
                        </div>
						
                        <div class="row">
                            <div class="col-md-4 text-center photo-image" style="text-align: center;"><a href="/static/pdf/paper_7.pdf" target=_blank><img src="/static/img/paper_7.jpg" alt="" style="width: 258px;height: 354px;"></a></div>
                            <div class="col-md-4 text-center photo-image" style="text-align: center;"><a href="/static/pdf/paper_8.pdf" target=_blank><img src="/static/img/paper_8.jpg" alt="" style="width: 258px;height: 354px;"></a></div>
							<div class="col-md-4 text-center photo-image" style="text-align: center;"><a href="/static/pdf/paper_9.pdf" target=_blank><img src="/static/img/paper_9.jpg" alt="" style="width: 258px;height: 354px;"></a></div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
          
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}