{% for o in office %}
<div class="result-item">
    <div class="container">
        <div class="row cont-list">
            <div class="col-md-3">
                <div class="con-label">Адрес:</div>       
            </div>
            <div class="col-md-9">
                <div class="value">{{ o.address }}</div>    
            </div>
            <div class="col-md-3">
                <div class="con-label">Телефон:</div>       
            </div>
            <div class="col-md-9">
                <div class="value">{{ o.phone }}</div>    
            </div>
            <div class="col-md-3">
                <div class="con-label">График работы офиса:</div>       
            </div>
            <div class="col-md-9">
                <div class="value">{{ o.schedule }}</div>    
            </div>
            <div class="col-md-3">
                <div class="con-label">E-mail:</div>       
            </div>
            <div class="col-md-9">
                <div class="value"><a href="mailto:{{ o.email }}">{{ o.email }}</a></div>    
            </div>
            <div class="col-md-12">
                <div class="result-map">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid={{ o.map_id }}&amp;width=1140&amp;height=290&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
                </div>
            </div>
            <!--<div class="col-md-6"><button class="send">Записаться на собеседование</button></div>-->
            <div class="col-md-12"><div class="choose-border"></div></div>
        </div>
    </div>
</div>
{% endfor %}