{% extends "basis.html" %}
{% load l10n %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_aid %}

{% block extend_header %}
<script src="{% static 'js/come.js' %}"></script>
{% endblock %}
{% block content %}
<div class="content-wrap">
    <div class="top-icons-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="top-icons-list">
                        <li>
                            <a href="/jobs">
                                <span class="icon icon1"></span>
                                <span class="text">
                                    <span class="title">Выбирай</span><br>
                                    <em>Посмотри вакансии</em>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/come">
                                <span class="icon icon2"></span>
                                <span class="text">
                                    <span class="title">Приходи</span><br>
                                    <em>Наши адреса</em>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/earn">
                                <span class="icon icon3"></span>
                                <span class="text">
                                    <span class="title">Зарабатывай</span><br>
                                </span>
                            </a>
                        </li>
                        <li  class="active">
                            <a href="/rest">
                                <span class="icon icon4"></span>
                                <span class="text">
                                    <span class="title">Отдыхай</span><br>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="work-article">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="work-menu">
                        <li class="active">
                            <a href="/rest">
                                <img src="/static/img/work-menu-img2.png" alt="">
                                <span>Корпоративная жизнь</span>
                            </a>
                        </li>
                        <li>
                            <a href="/gallery">
                                <img src="/static/img/work-menu-img3.png" alt="">
                                <span>Фотогалерея</span>
                            </a>
                        </li>
                        <li>
                            <a href="/video">
                                <img src="/static/img/work-menu-img4.png" alt="">
                                <span>Видео</span>
                            </a>
                        </li>
                        <li>
                            <a href="/newspaper">
                                <img src="/static/img/work-menu-img5.png" alt="">
                                <span>Газета</span>
                            </a>
                        </li>
                    </ul>  
                    <div class="work-article-body">
                        <h1 class="work-title">Корпоративная жизнь Лидер Тим</h1>
                        <p><strong>Большую часть жизни, как ни крути, все мы проводим на работе.</strong> Компания Лидер Тим заинтересована в том, чтобы сделать ее более интересной и более позитивной для своих сотрудников! </p>
                        <p><strong>Корпоративные традиции</strong> – это одно из главных преимуществ нашей компании. Каждый год мы создаем новые проекты для сотрудников и их детей: «Первоклашка Лидер Тим», «В Крым с Лидер Тим», «Лучший из Лучших» и другие не менее интересные. Вместе отмечаем 8 марта, 23 февраля, Новый год и профессиональные праздники Компании, постоянно проводим викторины, конкурсы и акции.</p>
                        <p><strong>Каждые четыре месяца выходит новый номер корпоративной газеты,</strong> где коллеги рассказывают о своей жизни в компании, совместно проведенном времени вне работы, спортивных соревнованиях и других выездных мероприятиях. Среди важных для нас спецпроектов - «Культурные недели Лидер Тим», «Модный ноябрь Лидер Тим», Фестиваль детского рисунка. Счастливые родители вместе со своими маленькими лидерами, призерами конкурса, побывали в Диснейленде!</p>
                        <div class="row">
                            <div class="col-md-6 text-right photo-image"><img src="/static/img/work-article-img.jpg" alt=""></div>
                            <div class="col-md-6 text-left photo-image"><img src="/static/img/work-article-img1.jpg" alt=""></div>
                        </div>
                        <div class="choose-border"></div>
                        <div class="sub-title">Почему Лидер Тим?</div>
                        <p>С каждым годом работать в Лидер Тим становится еще интересней: теперь для наших сотрудников проводятся тематические недели, спортивные мероприятия, а так же Компания активно участвует в социальных и благотворительных проектах. С каждым днем мы расширяем базу наших партнеров, которые предоставляют корпоративные скидки для наших сотрудников!</p>
                        <div class="image alt"><img src="/static/img/work-article-img2.jpg" alt=""></div>
                    </div>   
                </div>
            </div>
        </div>
          
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}