{% extends "basis.html" %}
{% load l10n %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_aid %}

{% block extend_header %}
<script src="{% static 'js/come.js' %}"></script>
{% endblock %}
{% block content %}
<div class="content-wrap">
    <div class="top-icons-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="top-icons-list">
                        <li>
                            <a href="/jobs">
                                <span class="icon icon1"></span>
                                <span class="text">
                                    <span class="title">Выбирай</span><br>
                                    <em>Посмотри вакансии</em>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/come">
                                <span class="icon icon2"></span>
                                <span class="text">
                                    <span class="title">Приходи</span><br>
                                    <em>Наши адреса</em>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/earn">
                                <span class="icon icon3"></span>
                                <span class="text">
                                    <span class="title">Зарабатывай</span><br>
                                </span>
                            </a>
                        </li>
                        <li  class="active">
                            <a href="/rest">
                                <span class="icon icon4"></span>
                                <span class="text">
                                    <span class="title">Отдыхай</span><br>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="work-article">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="work-menu">
                        <li>
                            <a href="/rest">
                                <img src="/static/img/work-menu-img2.png" alt="">
                                <span>Корпоративная жизнь</span>
                            </a>
                        </li>
                        <li>
                            <a href="/gallery">
                                <img src="/static/img/work-menu-img3.png" alt="">
                                <span>Фотогалерея</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/video">
                                <img src="/static/img/work-menu-img4.png" alt="">
                                <span>Видео</span>
                            </a>
                        </li>
                        <li>
                            <a href="/newspaper">
                                <img src="/static/img/work-menu-img5.png" alt="">
                                <span>Газета</span>
                            </a>
                        </li>
                    </ul>  
                    <div class="work-article-body">
                        <div class="video-item">
                            <div class="video-title"></div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="iframe-wrap">
                                        <iframe src="//vk.com/video_ext.php?oid=-100343531&id=171312569&hash=0fa56302aed30a07&hd=2" width="560" height="315"  frameborder="0"></iframe>&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="video-item">
                            <div class="video-title"></div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="iframe-wrap">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/LLxdU9XSvKw" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="video-item">
                            <div class="video-title"></div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="iframe-wrap">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/q-3KCE4T5yU" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="video-item">
                            <div class="video-title"></div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="iframe-wrap">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/M4rRG3qXKQo" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="video-item">
                            <div class="video-title"></div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="iframe-wrap">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/1N4FPkzrmPA" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="video-item">
                            <div class="video-title"></div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="iframe-wrap">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/MCp-ENnJKp0" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="video-item">
                            <div class="video-title"></div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="iframe-wrap">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/kFPqm3j0hIY" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="video-item">
                            <div class="video-title"></div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="iframe-wrap">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/8Up6QDtXOZA" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
          
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}