{% extends "basis.html" %}
{% load staticfiles %}

{% block extend_header %}


<link href="{% static 'interview/css/calendar.css' %}" rel="stylesheet">

<script src="{% static 'interview/js/calendar.js' %}"></script>
<script src="{% static 'interview/js/languages/ru.js' %}"></script>
{% endblock %}

{% block main_content %}
<div class="ui padded grid">
    <div class="sixteen wide column">
        <div  class="ui segment grid">
            <div class="sixteen wide column">
                <h3>Расписание</h3>
                <div class="ui divider"></div>
                <div id="calendar"></div>
                <form id="year_update_form" method="POST" class="ui form">
                    {% csrf_token %}
                    <div class="field">
                        <input type="text" name="year" value="{{ curr_year }}"/>
                    </div>
                    
                    <button type="submit" class="ui small green button">Обновить</button>
                </form>
                <div class="ui divider"></div>
            </div>
            <div class="six wide column">
                <select id="os" class="ui dropdown">
                    <option value="{{ oid.oid.id }}" selected="selected">Выберите офис</option>
                    <option value="666">Создать новый</option>
                    {% for o in officies %}
                        <option value="{{ o.id }}">{{ o.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="sixteen wide column">
                <div id="results"></div>
                <form id="year_update_form" method="POST" class="ui form" action="/pc_update">
                    {% csrf_token %}
                    <div class="six wide field">
                        <label for="id_name">Название:</label>
                        <input id="id_name" maxlength="60" name="name" type="text">
                    </div>
                    <div class="six wide field">
                        <label for="id_address">Адрес:</label>
                        <textarea cols="40" id="id_address" name="address" rows="10"></textarea>
                    </div>
                    <div class="inline fields">
                        <label>Понедельник:</label>
                        <div class="field">
                            <input id="id_w1o" name="w1o" type="text">
                        </div>
                        <div class="field">
                            <input id="id_w1c" name="w1c" type="text">
                        </div>
                    </div>
                    <div class="inline fields">
                        <label>Вторник:</label>
                        <div class="field">
                            <input id="id_w2o" name="w2o" type="text">
                        </div>
                        <div class="field">
                            <input id="id_w2c" name="w2c" type="text">
                        </div>
                    </div>
                    <div class="inline fields">
                        <label>Среда:</label>
                        <div class="field">
                            <input id="id_w3o" name="w3o" type="text">
                        </div>
                        <div class="field">
                            <input id="id_w3c" name="w3c" type="text">
                        </div>
                    </div>
                    <div class="inline fields">
                        <label>Четверг:</label>
                        <div class="field">
                            <input id="id_w4o" name="w4o" type="text">
                        </div>
                        <div class="field">
                            <input id="id_w4c" name="w4c" type="text">
                        </div>
                    </div>
                    <div class="inline fields">
                        <label>Пятница:</label>
                        <div class="field">
                            <input id="id_w5o" name="w5o" type="text">
                            </div>
                        <div class="field">
                            <input id="id_w5c" name="w5c" type="text">
                        </div>
                    </div>
                    <div class="six wide field">
                        <label for="id_interval">Интервал в минутах:</label>
                        <input id="id_interval" name="interval" type="text">
                    </div>
                    <div class="six wide field">
                        <label for="id_managers">Менеджеры:</label>
                        <input id="id_managers" name="managers" type="text">
                    </div>
                    <div class="field">
                        <button id="submit_year_update_form" class="ui small green button">Обновить</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<div id="day_change" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Изменить режим работы
        </div>
        <div class="content">
        <div class="description">
            <form id="wdu" class="ui form">
                {% csrf_token %}
                <div class="inline field">
                    <label>Число: </label>
                    <p id="date_change"></p>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Время открытия:</label>
                        <input id="wou" type="text" name="wou"/>
                    </div>
                    <div class="field">
                        <label>Время закрытия:</label>
                        <input id="wcu" type="text" name="wcu"/>
                    </div>
                </div>
                <input id="curr_date" type="hidden" name="curr_date"/>
            </form>
        </div>
        </div>
        <div class="actions">
            <div id="wdu_submit"  class="ui green button">Сохранить</div>
        </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'interview/js/date.js' %}"></script>
<script src="{% static 'interview/js/main.js' %}"></script>
{% endblock %}

