{% extends 'basis.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load pagination_tags %}

{% block extend_header %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
<link href="{% static 'css/masterzone.css' %}" rel="stylesheet">

<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "js/masterzone.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="news-list-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                {% include 'masterzone_menu.html' %}  
                </div>
                <div class="col-md-9" id="new_add_form">
                    <form method="POST" id="new_form" class="ui form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="field">
                            {{ new_form.errors }}
                        </div>
                        <div class="field">
                            <label for="id_title">ЗАГОЛОВОК</label>
                            {{ new_form.title }}
                        </div>
                        <div class="field">
                            <label for="id_title">ТЕКСТ</label>
                            {{ new_form.content }}
                        </div>
                        <div class="field">
                            <label for="id_title">ЗАГРУЗИТЬ ИЗОБРАЖЕНИЕ</label>
                            <input id="id_thumbnail" name="thumbnail" type="file">
                            <button id="cover_load">ЗАГРУЗИТЬ</button>
                        </div>
                        <div class="field">
                            {{ new_form.published }}
                            <label id="pub_label" for="id_published">ОПУБЛИКОВАТЬ?</label>
                        </div>
                        <button type="submit" class="new_add_submit">
                            СОХРАНИТЬ
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}