{% extends 'basis.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block extend_header %}

<link href="{% static 'css/masterzone.css' %}" rel="stylesheet">

<script type="text/javascript" src="{% static "js/masterzone.js" %}"></script>
{% endblock %}

{% block content %}
<div class="news-single-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><a href="javascript:history.go(-1)" class="return-to">Вернуться к списку позиций</a></div>
                <div class="col-md-12">
                    <div class="item">
                        <div class="head">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="news-name">{{ new.title }}</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="news-date">{{ new.date }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="info">
                                    <div class="wrap"><div class="img-wrap"><img src="{{ new.thumbnail.url }}" alt=""></div></div>
                                    <div class="text">
                                           {{ new.content|safe }}
                                    </div>
                                </div>
                                <button id="edit_button" onclick="window.location.href='/masterzone/news/edit/{{ new.id }}'">
                                    Редактировать
                                </button>
                                {% if not new.published %}
                                <button id="publish_button" onclick="window.location.href='/masterzone/news/publish/{{ new.id }}'">
                                    Опубликовать
                                </button>
                                {% endif %}
                                <button id="delete_button" onclick="window.location.href='/masterzone/news/delete/{{ new.id }}'">
                                    Удалить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}