{% extends 'basis.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load pagination_tags %}

{% block extend_header %}

<link href="{% static 'css/masterzone.css' %}" rel="stylesheet">

<script type="text/javascript" src="{% static "js/masterzone.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="news-list-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                {% include 'masterzone_menu.html' %}   
                </div>
                <div class="col-md-9"><h1 class="news-list-title">Новости компании <a href="/masterzone/news/add" class="add">+ ДОБАВИТЬ</a></h1></div>
                {% autopaginate news 5 %}
                
                <div class="col-md-9">
                    {% for new in news %}
                    <div class="item">
                        <div class="head">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="news-name">
                                        {{ new.title }} {% if new.published %} <span>ОПУБЛИКОВАНА</span>{% else %} <span>ЧЕРНОВИК</span>{% endif %}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="news-date">{{ new.date }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><div class="img-wrap"><a href="/masterzone/news/{{ new.id }}"><img src="{{ new.thumbnail.url }}" alt=""></a></div></div>
                            <div class="col-md-8">
                                <div class="info">
                                    
                                    <div class="text">{{ new.content|safe }}</div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="more-wrap"><a href="/masterzone/news/{{ new.id }}" class="more">подробнее</a></div>
                    </div>
                    {% empty %}
                    НЕТ НОВОСТЕЙ
                    {% endfor %}
                </div>
            </div>
        </div>
{% paginate %}
    </div>
{% endblock %}