{% extends "basis.html" %}
{% load staticfiles %}

{% block main_content %}
<div class="ui padded grid">
    {% if is_cc_admin or is_cc %}
    <div class="sixteen wide center aligned column">
        <h2 class="ui dividing header">Панель управления звонками</h2>
    </div>
    {% if is_cc_admin %}
    <div class="sixteen wide column">
        
    </div>
    {% endif %}
    <div class="sixteen wide column">
        <table class="ui celled padded striped table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>ФИО</th>
                    <th>Телефон</th>
                    <th>Описание</th>
                    <th>Офис</th>
                    <th>Дата создания</th>
                    <!--<th>Статус</th>-->
                </tr>
            </thead>
            <tbody>
                {% for t in cc_queue %}
                <tr>
                  <td>{{ t.id }}</td>
                  <td>{{ t.requester.profile.f_name }} {{ t.requester.profile.l_name }}</td>
                  <td>{{ t.requester.profile.phone }}</td>
                  <td>{{ t.comment }}</td>
                  <td>{{ t.area }}</td>
                  <td>{{ t.created }}</td>
                  
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="sixteen wide center aligned column">
        У ВАС НЕТ ДОСТУПА
    </div>
    {% endif %}
</div>
{% endblock %}
<td>{{ t.get_status_display }}</td>

<form id="cc_form" class="ui form grid" method="POST">
            <div class="three fields">
                <div class="field">
                    <label for="id_username">Имя пользователя:</label>
                    <input id="id_username" maxlength="30" name="username" type="text">
                    <small>Обязательное поле. Не более 30 символов. Только буквы, цифры и символы @/./+/-/_.</small>
                </div>
                <div class="field">
                    <label for="id_email">Адрес электронной почты:</label>
                    <input id="id_email" maxlength="254" name="email" type="email">
                </div>
                <div class="field">
                    <label for="id_password">Пароль:</label>
                    <input id="id_password" maxlength="128" name="password" type="text">
                </div>
            </div>
            <div class="three fields">
                <div class="six wide field">
                    <label for="id_first_name">Имя:</label>
                    <input id="id_first_name" maxlength="30" name="first_name" type="text">
                </div>
                <div class="six wide field">
                    <label for="id_last_name">Фамилия:</label>
                    <input id="id_last_name" maxlength="30" name="last_name" type="text">
                </div>
                <div class="four wide field">
                    <a id="call_submit" class="ui small green button">Сохранить</a>
                </div>
            </div>
            {% csrf_token %}
        </form>