{% extends "basis.html" %}
{% load staticfiles %}

{% block sigreg %}
<div id="fade-screen" class="fade-screen" style="display: block;"></div>
	<div id="call_form" class="">
      <div class="close"><a id="call_form_close" href="javascript:void(0)"><img src="/static/img/popup-close.jpg" alt=""></a></div>
      <div class="title text-center">Обратный звонок</div>
			{% if user.is_authenticated %}
					<form id="call_form" class="ui form" method="POST">
					{% csrf_token %}
						<div class="field">
							  	<label for="id_area">Выберите офис:</label>
                				<select id="id_area" name="area" class="ui dropdown">
                    {% if request.user.profile.area %}
                    <option value="{{ request.user.profile.area.id}}" selected="selected"></option>
                    {% else %}
                    <option value="" selected="selected">---------</option>
                    {% endif %}
                    {% for a in off %}
                    <option value="{{ a.id }}">{{ a.area }}</option>
                    {% endfor %}
                </select>
						</div>
						<div class="field">
							<input class="inp-form" id="id_phone" name="phone" placeholder="E-mail адрес" type="email">
						</div>
							<button class="enter" type="submit">Готово</button>
					</form>
			{% else %}
					<div class="sup-title">Вы не зарегистрированы.</div>
					<button class="enter" onclick="window.location.href='/signup'" type="submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
			{% endif %}
</div>
{% endblock %}
 {% block content %}
							<section class="section_2">
        <div class="main_title">
          <h1>ПОЛУЧИТЕ ПРЕДЛОЖЕНИЕ О РАБОТЕ <br>ПРЯМО СЕЙЧАС</h1>
        </div>
        <div class="container">
          <div class="row padd">
						<form action="/jobs">
							
						
                <div class="col-md-5 alt-sel">
										 <select class="fancy-select" id="id_position" name="position">
												<option value="" selected="selected">---------</option>
										 </select>
                </div>
                <div class="col-md-5 alt-sel">
                   <select class="fancy-select" id="id_position" name="position">
												<option value="" selected="selected">---------</option>
										 </select>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="search_btn">искать</button>
                </div>
              </form> 
          </div>
          <div class="row text-center">
            <h2 class="top_title_2">Зарегистрируйтесь и получите доступ к 11000 вакансиям</h2>
            <button onclick="window.location.href='/signup/'" class="top_btn_2">Регистрация</button>
          </div>
        </div>

      </section>
<script>
$(document).ready(function(){
		$('body').css('overflow', 'hidden');							
});
</script>
{% endblock %}
<div class="ui padded grid">
    <div class="sixteen wide column">
        <h2 class="ui dividing header">Запрос обратного звонка</h2>
        <form id="call_form" class="ui form grid" method="POST">
            <div class="four wide field">
                <label for="id_area">Выберите офис:</label>
                <select id="id_area" name="area" class="ui dropdown">
                    {% if request.user.profile.area %}
                    <option value="{{ request.user.profile.area.id}}" selected="selected"></option>
                    {% else %}
                    <option value="" selected="selected">---------</option>
                    {% endif %}
                    {% for a in off %}
                    <option value="{{ a.id }}">{{ a.area }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="sixteen wide field">
                <label for="id_comment">Комментарий (опционально):</label> 
                <textarea cols="40" id="id_comment" name="comment" rows="10"></textarea>
            </div>
            <div class="field">
                <button id="call_submit" class="ui small green button">Сохранить</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>
