{% extends "basis.html" %}
{% load staticfiles %}

{% block main_content %}
<div class="ui padded grid">
    <div class="sixteen wide center aligned column">
        <h2 class="red header">Ваш запрос успешно отправлен. Ожидайте звонка оператора.</h2>
    </div>
</div>
{% endblock %}