#id_privacy:not(:checked) + label:after, #id_privacy:checked + label:after {
	content: '✔';
    position: absolute;
    top: 9px;
    left: 9px;
    font-size: 33px;
    line-height: 0.8;
    color: #204287;
    transition: all .2s;
}

#id_privacy:not(:checked) + label:before, #id_privacy:checked + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
    width: 45px;
    height: 45px;
    border: 1px solid #204287;
    border-radius: 0;
}

#reg_label{
	padding-left:50px;
	font-size:16px;
}

#reg_label:before{
	content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 45px;
    height: 45px;
    border: 1px solid #204287;
    border-radius: 0;
}