.add{
	font-size:13px;
	background:#2e7db4;
	color:white;
	text-decoration:none;
	padding:12px;
	margin-bottom:5px;
}

.add:hover{
	text-decoration:none;
	color:#2e7db4;
	background:white;
	border:1px solid #2e7db4;
}

#new_add_form{
	margin:50px 0;
}

.news-single-wrap .item .img-wrap img{
	width: 305px;
}

#id_published:not(:checked) + label:before, #id_published:checked + label:before{
	content: '';
    position: absolute;
    left: 0px;
    top: -9px;
    width: 45px;
    height: 45px;
    border: 1px solid #204287;
    border-radius: 0;
}

#id_published:not(:checked) + label:after, #id_published:checked + label:after{
	content: '✔';
    position: absolute;
    top: 0px;
    left: 11px;
    font-size: 33px;
    line-height: 0.8;
    color: #204287;
    transition: all .2s;
}

#cover_load{
    width: 150px!important;
    height: 35px;
    line-height: 35px;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    background: #204287;
    text-align: center;
    margin-bottom:15px;
}

#pub_label{
    padding-left:50px;
}

.new_add_submit{
    width: 150px!important;
    height: 35px;
    line-height: 35px;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    background: #204287;
    text-align: center;
    margin-top:15px;
}

#id_thumbnail{
    display:none;
}

#edit_button, #publish_button, #delete_button{
    width: 150px!important;
    height: 35px;
    line-height: 35px;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    background: #204287;
    text-align: center;
    margin-top:15px;
}

#edit_button{
	background: #dc9931;
}

#delete_button{
	background: #ca3c04;
}