/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1130px) {

		
}

@media only screen and (max-width : 1170px) {
		


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.top
	{
		text-align: center;
	}
	.form-control
	{
		margin-bottom: 10px;
	}
	.top_btn_2 {
		margin-bottom: 20px;
	}
	.section_4 {
		background-color: #e3e5e6;
		background-image: none;
	}
	.soc_icons {
		float: left;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {



}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

	

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media only screen and (min-width : 1170px) {
	
	
}

@media only screen and (max-width : 1200px) {
	.top_line_link {
			font-size: 16px;
	}
}