.pop-up, .fade-screen{
    display: none;
}



#profile_container{
  margin-top: 42px;
}

.monthselect, .yearselect{
  width: auto!important;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }
}

.header-menu {
    background: url("../img/menu-fon.png") repeat 0 0;
    padding: 32px 0 26px 0;
    margin: 0;
}

.header-menu ul {
    text-align: center;
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

.header-menu ul li {
    display: inline-block;
    vertical-align: middle;
    line-height: 21px;
    border-left: #677a93 solid 1px;
    padding: 0 16px;
    margin: 0 0 15px;
}

.header-menu ul li:first-child {
    border: none;
}

.header-menu ul li a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-family: "Open Sans";
}

.header-menu ul li a:hover {
    text-decoration: underline;
}

.header-menu--custom-navbar {
    border: none;
    background: none;
    min-height: 0;
    margin: 0;
}

.header-menu--custom-navbar .navbar-header {
    float: none;
}

.header-menu--custom-navbar .navbar-toggle {
    float: left;
    margin: 0 0 15px 15px;
    display: block;
}

@media screen and (min-width: 1024px) {
    .header-menu--custom-navbar .navbar-toggle {
        display: none;
    }
}

.header-menu--custom-navbar .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media screen and (min-width: 1024px) {
    .header-menu--custom-navbar .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .header-menu--custom-navbar .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

.header-menu--custom-navbar .navbar-nav {
    text-align: center;
    float: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
    padding: 10px 0 0 0;
}

.header-menu--custom-navbar .navbar-nav li {
    vertical-align: middle;
    line-height: 21px;
    margin: 0 0 15px;
    float: none;
    display: block;
    padding: 0;
    border: none;
    text-align: left;
}

@media screen and (min-width: 1024px) {
    .header-menu--custom-navbar .navbar-nav li {
        display: inline-block;
        border-left: #677a93 solid 1px;
        padding: 0 12px 0 16px;
    }
}

@media screen and (min-width: 1200px) {
    .header-menu--custom-navbar .navbar-nav li {
        padding: 0 26px;
    }
}

.header-menu--custom-navbar .navbar-nav li:first-child {
    border: none;
}

.header-menu--custom-navbar .navbar-nav li a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-family: "Open Sans";
    padding: 7px 0;
}

@media screen and (min-width: 1024px) {
    .header-menu--custom-navbar .navbar-nav li a {
        padding: 0;
    }
}

.header-menu--custom-navbar .navbar-nav li a:hover {
    color: #fff;
    text-decoration: underline;
}

/*.b-quest-form {
    margin-bottom: 50px;
}*/

.b-quest {
    font-family: "calibril_light";
}

.b-quest__header {
    margin: 0 0 38px;
}

.b-quest__header:before, .b-quest__header:after {
    display: table;
    content: "";
}

.b-quest__header:after {
    clear: both;
}

.b-quest__name {
    font-size: 30px;
    font-family: "calibri_bold";
    color: #204287;
}

@media screen and (min-width: 768px) {
    .b-quest__name {
        float: left;
    }
}

.b-quest__status {
    font-family: "Open Sans", sans-serif;
    color: #3984b8;
    font-size: 18px;
    margin: 5px 0 0 0;
}

@media screen and (min-width: 768px) {
    .b-quest__status {
        float: right;
    }
}

.b-quest__status-val {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 30px;
    position: relative;
    top: -4px;
}

.custom-form-control {
    border: #204287 solid 1px;
    height: 45px;
    margin: 0;
    padding-top: 4px;
    font-size: 20px;
    font-family: "calibril_light";
    color: #041425;
    outline: none;
}

.custom-form-control:focus {
    background: #eaf6ff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: #204287 solid 1px;
}

.custom-form-control--one-simbol {
    width: 45px !important;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    margin-right: 3px;
    display: inline-block;
    margin-bottom: 18px;
}

@media screen and (min-width: 992px) {
    .custom-form-control--one-simbol {
        margin-bottom: 0;
    }
}

.custom-form-control-note {
    font-size: 20px;
    color: #204287;
    font-family: "calibril_light";
    margin-top: 10px;
}

.custom-form-control-note a {
    color: #2e7db4;
    text-decoration: underline;
}

.custom-form-control-note a:hover {
    text-decoration: none;
}

.custom-select {
    outline: none;
}

.custom-select--width-year {
    width: 116px !important;
}

.custom-select--width-date {
    width: 116px !important;
}

.custom-select--width-month {
    width: 300px !important;
}

.custom-select--width-age {
    width: 116px !important;
    margin-right: 45px;
}

.custom-select .btn {
    border: #204287 solid 1px;
    height: 45px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    background: none;
    font-family: "calibril_light";
    font-size: 20px;
    color: #041425;
    padding-top: 3px;
}

.custom-select .btn:focus {
    background: #eaf6ff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: #204287 solid 1px;
    outline: none;
}

.custom-select.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.custom-select.btn-group.open .dropdown-toggle {
    background: #eaf6ff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: #204287 solid 1px;
    outline: none;
}

.custom-select .caret {
    color: #204287;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 7px dashed;
    border-top: 7px solid \9;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

.custom-select .caret:after {
    content: '';
    display: block;
    position: absolute;
    left: -17px;
    top: -19px;
    width: 1px;
    height: 30px;
    background: #8fa0c3;
}

.custom-select.dropup .dropdown-menu {
    margin-top: 0;
    margin-bottom: -1px;
}

.custom-select.dropup .caret {
    content: "";
    border-top: 0;
    border-bottom: 7px dashed;
    border-bottom: 7px solid \9;
}

.custom-select.dropup .caret:after {
    top: -12px;
}

.custom-select .dropdown-menu {
    padding: 0;
    border-radius: 0;
    margin-top: -1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #204287;
}

.custom-select .dropdown-menu > li {
    border-bottom: #204287 solid 1px;
}

.custom-select .dropdown-menu > li:last-child {
    border: none;
}

.custom-select .dropdown-menu > li.selected a {
    background: #bedbf0;
}

.custom-select .dropdown-menu > li > a {
    padding: 7px 5px 8px 13px;
    font-size: 20px;
    font-family: "calibril_light";
    color: #041425;
    outline: none;
}

.custom-select .dropdown-menu > li > a:hover {
    background: #bedbf0;
}

.label-head {
    display: block;
    color: #041425;
    font-size: 20px;
    line-height: 24px;
    font-family: "calibri_bold";
    text-transform: uppercase;
    margin:9px 0px!important;
    
}

.label-head--inline {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
    line-height: 41px;
}

.label-head--inline span {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
}

.label-sub-head {
    display: block;
    color: #204287!important;
    font-size: 20px!important;
    line-height: 18px;
    font-family: "calibri_bold"!important;
}

.label-sub-head--inline {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
    line-height: 41px;
}

.label-sub-head--inline span {
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
}

.label-sub-head--reg {
    margin-right: 45px;
}

.label-sub-head--invalid {
    margin-right: 45px;
}

.form-inline {
    margin-bottom: 18px;
}

.form-name {
    margin-bottom: 18px!important;
}

.form-name > div {
    margin-bottom: 15px;
}

.form-date {
    margin-bottom: 18px;
}

.form-date .form-group {
    margin-right: 13px;
    display: block;
    margin-bottom: 18px;
}

.form-date .form-group .label-sub-head {
    min-width: 25px;
}

@media screen and (min-width: 992px) {
    .form-date .form-group {
        display: inline-block;
        margin-bottom: 0;
    }
}

.form-date .bootstrap-select.custom-select {
    margin-bottom: 18px;
}

.form-passport-id .form-group {
    margin-right: 38px;
    display: block;
    margin-bottom: 18px;
}

@media screen and (min-width: 992px) {
    .form-passport-id .form-group {
        display: inline-block;
        margin-bottom: 0;
    }
}

.form-stretched {
    display: table;
    width: 100%;
    margin-bottom: 18px;
}

.form-stretched .form-group {
    display: table-row;
}

.form-stretched__cell {
    display: block;
    margin-bottom: 15px;
}

@media screen and (min-width: 992px) {
    .form-stretched__cell {
        display: table-cell;
        vertical-align: top;
        margin-bottom: 0;
    }
}

.form-stretched__cell--value .custom-form-control {
    width: 100% !important;
    margin-bottom: 0;
}

.form-stretched__cell--value .bootstrap-select.custom-select {
    width: 100% !important;
    margin-bottom: 0;
}

.form-stretched__cell--passport-width {
    width: 221px !important;
}

.form-stretched__cell--give-width {
    width: 140px !important;
}

.form-stretched__cell--inn-width {
    width: 60px !important;
}

.form-mobile-phone__code {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    font-family: "calibril_light";
    margin-right: 4px;
}

.form-mobile-phone__operator {
    width: 82px !important;
    margin-right: 12px;
    text-align: center;
    display: inline-block;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .form-mobile-phone__operator {
        margin-bottom: 0;
    }
}

.form-mobile-phone__number {
    width: 100% !important;
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .form-mobile-phone__number {
        width: 319px !important;
    }
}

.form-sizes .form-group {
    margin-right: 39px;
}

.hr-dotted {
    background: url("../img/hr-dotted.png") repeat-x 0 0;
    display: block;
    height: 3px;
    border: none;
    margin: 40px 0;
}

.checkbox__inline, .radio__inline {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    margin-right: 45px;
}

.checkbox__inline .c-checkbox, .checkbox__inline .c-radio, .radio__inline .c-checkbox, .radio__inline .c-radio {
    position: relative;
    vertical-align: middle;
    display: inline-block;
}

.c-checkbox, .c-radio {
    position: relative;
    min-width: 36px;
}

.c-checkbox__inline, .c-radio__inline {
    display: inline-block;
    vertical-align: middle;
}

.c-checkbox label, .c-radio label {
    padding: 0;
}

.c-checkbox label:hover .c-view, .c-radio label:hover .c-view {
    border: 1px solid #204287;
}

.c-checkbox input, .c-radio input {
    display: none;
}

.c-checkbox .c-view, .c-radio .c-view {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #204287;
    width: 36px;
    height: 36px;
}

.c-checkbox .c-value, .c-radio .c-value {
    color: #204287;
    font-size: 20px;
    line-height: 18px;
    font-family: "calibri_bold";
    vertical-align: middle;
    margin: 0 7px 0 0;
}

.c-checkbox input:checked + .c-view {
    border-color: #204287;
}

.c-checkbox input:checked + .c-view:after {
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    background: #204287;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 -9px;
    border-radius: 3px;
}

.c-checkbox .c-view {
    border-radius: 3px;
    background: #fff;
}

.c-radio input:checked + .c-view {
    border-color: #204287;
}

.c-radio input:checked + .c-view:after {
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    background: #204287;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 -9px;
    border-radius: 50%;
}

.c-radio .c-view {
    border-radius: 50%;
}

.btn-form {
    background-color: #204287;
    color: #fff;
    text-align: center;
    border: none;
    text-transform: uppercase;
    line-height: 56px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.btn-form:hover {
    color: #fff;
}
