
   @font-face {
    font-family: calibril_light; 
    src: url(../fonts/calibril_light.ttf); 
   }
      @font-face {
    font-family: calibri_bold; 
    src: url(../fonts/calibri_bold.ttf); 
   }

.mrg{
	margin-top:25px;
}

.cropit-image-preview {
  /* You can specify preview size in CSS */
  width: 150px;
  height: 150px;

}

input.cropit-image-input {
  display: none;
}

.cropit-image-zoom-input{
    width:150px!important;
    margin:8px 0;
	visibility: hidden;
}

#date_check, #inn_check{
	display:none;
}

.ui.error.message {
	font-size:14px;
	color:red;
}

#ava_load{
  width:150px!important;
  height: 35px;
  line-height: 35px;
  border: none;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  background: #204287;
  text-align: center;
}

#main_tel{
	color: #204287;
	text-decoration: none;
}


.transparent{
	display: block;
    width: 100%;
    height: 56px!important;
    padding: 6px 12px!important;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    color: #000!important;
    background-color: rgba(255, 255, 255, 0.45)!important;
    background-image: none!important;
    border: 1px solid #fff!important;
    border-radius: 0px!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.alt{
	color: #000!important;
    background-color: rgba(255, 255, 255, 0.45)!important;
    background-image: none!important;
    border: 1px solid #fff!important;
    border-radius: 0px!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.transparent > .dropdown.icon{
	height:44px!important;
	line-height:44px!important;
}

.transparent > .dropdown.icon:before{
	margin-top:6px!important;
}

.transparent > .text {
	margin-top:6px!important;
}

.transparent > .cross {
	margin-top:12px!important;
}

.top {
	background-color: #e3e5e6;
	min-height: 160px;
	padding-top: 50px;
	padding-bottom: 40px;
}
.top span {
	display: block;
	color: #204287;
}
.top_tel {
	font-size: 35px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.tel_bottom_text {
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
}
.top_btn {
	text-align: center;
	text-transform: uppercase;
	line-height: 69px;
	border: 2px solid #204287;
	background-color: #e3e5e6;
	color: #204287;
	width: 100%;
	font-size: 22px;
	 font-family: calibri_bold;
}
.top_line{
	background-color: #2e7db4;
	min-height: 48px;
}
.top_line_link {
	display: block;
	line-height: 48px;
	background-color: #275f9d;
	color: #6ada86;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;


}

.top_line_link:hover{
	color:#FFF;
	text-decoration:none;
}
.auth_link {
	color: #e3e5e6;
	line-height: 48px;
	padding-left: 20px;
	font-size:16px;
	cursor:pointer;
}
.auth_link img{
	
	padding-right: 10px;
}
.section_2 {
	background: url(../img/section_2_bg.png);
	background-size: cover;
	background-position: center;
}
.main_title {
background-color: rgba(3, 20, 75, 0.48);
    min-height: 185px;
}
.main_title h1 {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 44px;
	margin: 0;
	padding-top: 50px;
	font-family: 'Open Sans', sans-serif;
	    font-weight: 800;
	
}
.search_btn {
	background-color: #204287;
	color: #fff;
	text-align: center;
	border:none;
	text-transform: uppercase;
	line-height: 56px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: 600;
	margin-top:38px;


}
.form-control::-webkit-input-placeholder {color:#041425;}
.form-control::-moz-placeholder          {color:#041425;}
.form-control:-moz-placeholder           {color:#041425;}
.form-control:-ms-input-placeholder      {color:#041425;}
.form-control {
    display: block;
    width: 100%;
    height: 56px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: rgba(255, 255, 255, 0.25);
    background-image: none;
    border: 1px solid #fff;
    border-radius: 0px; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control.alt {
	height: 45px;
	color: #041425;
}
.padd {
	padding-top: 75px;
}
.top_title_2 {
	color: #fff;
	text-align: center;
	padding-top: 60px;
	font-family: 'Open Sans', sans-serif;
}
.top_btn_2
{
	text-align: center;
	text-transform: uppercase;
	line-height: 60px;
	border: 2px solid #7ad47a;
	background-color: transparent;
	color: #7ad47a;
	width: 240px;
	font-size: 20px;
	margin-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;

}
.slider{
	background-color: #e3e5e6;
	min-height: 280px;
}
.slider_title {
	text-align: center;
	color: #2e7db4;
	text-transform: uppercase;
	margin: 0;
	padding-top: 60px;
	font-family: 'Open Sans', sans-serif;
}
.slider_bg
{
	height: 168px;
	background: url(../img/slider_bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.slider_bg_2
{
	height: 168px;
	background: url(../img/slider_bg_2.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.section_3 {
	padding-top: 80px;
	padding-bottom: 85px;
}
.section_3 img {
	padding-bottom: 20px;
}
.section_3_title
{
	text-align: center;
	text-transform: uppercase;
	color: #000;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	margin-bottom: 40px;
}
.step_number
{
	display: block;
	color: #204287;
	font-family: calibril_light;
	font-size: 35px;
}
.step_info
{
	display: block;
	color: #2e7db4;
	font-family: 'Open Sans', sans-serif;
	    font-style: italic;
	    font-size: 18px;
}
.section_4 {
	background-image: url(../img/section_4_bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 820px;
}
.bold_t {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 600;
}
.small_t {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}
.big_t {
	font-size: 22px;
	font-weight: 600;
}
.right_bl_title {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	margin-left: 70px;
	margin-bottom: 30px;
	    margin-top: 55px;
}
.company_text
{
	 font-family: calibril_light;
	 font-size: 18px;
	 color: #5f6167;
	 margin-bottom: 80px;
	 margin-left: 70px;
}
.list_mark {
	margin-bottom: 40px;
	    margin-left: 70px;
}
.list_mark img {
	float: left;
	padding-top: 15px;
}
.lg_text_list {
	display: block;
	color: #2e7db4;
	font-size: 26px;
	padding-left: 35px;
	font-family: calibril_light;
	    font-weight: 600;
}
.sm_text_list {
	display: block;
	font-size: 18px;
	color: #5f6167;
	padding-left: 35px;
	font-family: calibril_light;
}
.section_4_left_title
{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
        margin-top: 55px;
        margin-bottom: 60px;
}
.icon_text {
	display: block;
	color: #fff;
	padding-bottom:30px;
}
.baner
{
	background: url(../img/baner_bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 410px;
}
.baner h2 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	margin: 0px;
	padding-top: 95px;
	font-size: 26px;
	    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
.baner_btn {
		text-align: center;
	
	line-height: 60px;
	border: 2px solid #7ad47a;
	background-color: transparent;
	color: #7ad47a;
	width: 240px;
	font-size: 22px;
	margin-top: 40px;
	font-family: 'Open Sans', sans-serif;

}
.baner span {
	color: #bec1c9;
	font-size: 20px;
	margin-top: 40px;
	display: block;
	font-family: calibril_light;
}
.text-block {
	width: 335px;
	text-align: right;
}
.text-block h3 {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
}
.reg_text {
		font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	margin-top: 60px;
}
.plate {
    background-color: #e3e5e6;
    height: 250px;
    border: 1px solid #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;

}
.plate:hover {
	background-color: #5fcd73;
}
.plate a {
	display: inline-block;
	color: #041425;
}
.plate .icon {
	width: 185px;
	height: 126px;
	display: inline-block;
}
.plate .style-1 .icon {
	background: url(../img/plate-bg.png);
}
.plate .style-2 .icon {
	background: url(../img/plate-bg1.png);
}
.plate .style-3 .icon {
	background: url(../img/plate-bg2.png);
}
.plate .style-4 .icon {
	background: url(../img/plate-bg3.png);
}
.plate .style-5 .icon {
	background: url(../img/plate-bg4.png);
}
.plate .style-6 .icon {
	background: url(../img/plate-bg5.png);
}
.plate a:hover {
	text-decoration: none;
	color: #fff;
}
.plate a:hover span {
	color: #fff;
}
.plate a:hover .icon {
	background-position: 0 -126px;
}
.plate span {
	display: block;

}
.city {
	font-size: 18px;
	font-family: calibril_light;
	color: #5f6167;

}
.worker {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
.plate_text_title {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
}
.plate_text {
	font-size: 18px;
	font-family: calibril_light;
	color: #5f6167;
}
.plate img {
	padding-bottom: 35px;
}
.reg_btn_2
{
	text-align: center;
	text-transform: uppercase;
	line-height: 60px;
	border: 2px solid #7ad47a;
	background-color: transparent;
	color: #7ad47a;
	width: 240px;
	font-size: 20px;
	margin-top: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	
}
.vocations_hot {
	padding-bottom: 80px;
	padding-top: 80px;
}

.baner_2 {
	min-height: 410px;
	background: url(../img/baner_2_bg.png);
		background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 80px;
	    padding-bottom: 30px;
}
.baner_2 h2 {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 26px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	margin-bottom: 40px;
}
.request_btn {
	background-color: #204287;
	color: #fff;
	text-align: center;
	border:none;
	text-transform: uppercase;
	line-height: 43px;
	width: 300px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 18px;
}
.baner_2 span {
	display: block;
	color: #fff;
	font-family: calibril_light;
	font-size: 20px;
	margin-top: 110px;

}

.baner_2 .default.text{
	color: black!important;
}

.news {
	background-color: #e3e5e6;
	padding-top: 85px;
	padding-bottom: 85px;

}
.news h2 {
	text-align: center;
	color: #000;
	margin: 0;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 48px;
}
.news h3 {
	text-align: left;
	color: #000;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	
}
.news p {
	color: #9fa0a4;
	font-family: calibril_light;
	font-size: 16px;
	padding-top: 5px;
}
.news .img-wrap {
	border:5px solid #204287;
	display: inline-block;
	opacity: 0.7;
}

.news .img-wrap img {
	width:305px;
}

.news .img-wrap:hover {
	opacity: 1;
}
.news span {
	display: inline-block;
	color: #2e7db4;
	font-size: 24px;
	font-family: calibril_light;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}
.date {
	    color: #2e7db4 !important;
    font-size: 22px !important;
}
.bold
{
	font-weight: bolder;
	font-size: 28px !important;
	display: inline-block;
}
.more_info_btn {
	background-color: #2e7db4;
	color: #fff;
	text-align: center;
	border:none;
	border: 3px solid #2e7db4;
	line-height: 34px;
	width: 120px;
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
    margin-bottom: 30px;
}
.more_info_btn:hover {
	background: none;
	color: #2e7db4;
}
.partner_text {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}
.slider_2 {
	height: 270px;
	padding-top: 35px;
}
.footer {
	min-height: 220px;
	background: url(../img/foot_bg.png);
			background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	    padding-top: 35px;
}
.footer h2 {
	text-align: left;
	margin: 0;
	color: #fff;
	text-transform: uppercase;
	font-family: calibri_bold;
}
.foot_links {
	list-style: none;
	margin-top: 25px;
	    padding-left: 0;
	    margin-bottom: 50px;
}
.foot_links li a {
	color: #5ed07c;
	padding-bottom: 3px;
	font-family: calibril_light;
	font-size: 18px;
}
.contacts span
{
	display: block;
	color: #5ed07c;
	font-family: calibril_light;
	font-size: 18px;
}
.adres_foot {
	padding-top: 20px;
	padding-bottom: 10px;
}
.mail_foot {
	padding-top: 15px;
}
.copyright 
{
	line-height: 90px;
	background-color: #2e7db4;
}
.copyright span
{
	color: #fff;
}
.soc_icons {
	float: right;
}
.soc_icons a {
	padding-right: 25px;
}
.copy_r
{
	font-family: calibril_light;
	font-size: 18px;
}

.clear { clear: both; }
.vac-slider { margin-top: 44px; }
.vac-slider .item {padding-bottom:25px;}
.vac-slider .item a:hover { text-decoration: none; }
.vac-slider .item a > * { display: inline-block; vertical-align: middle; }
.vac-slider .item .icon { width: 184px; height: 122px; display: inline-block; }
.vac-slider .item:hover .icon { background-position: 0 -122px!important; }
.vac-slider .item .info { width: 190px;  display: inline-block; text-align:center;}
.vac-slider .item .name { display: block; margin-top: 10px; }
.vac-slider .item .town { display: block; }

.part-slider { margin-top: 45px; }
.part-slider .item { text-align: center; }
.part-slider .item a { display: inline-block; }
.part-slider .item img { width: auto; }


.vac-list-wrap {  }
.vac-list-title { padding-top: 54px; font-size: 30px; font-weight: bold; color: #204287; font-family: calibri; }
.vac-list-wrap .vacitem { margin-top: 15px; padding-bottom: 28px; background: #e3e5e6; font-family: calibri; margin-bottom: 15px;}
.vac-list-wrap .vacitem .head { padding: 0 15px 0 15px; border-bottom: 1px solid #fff; font-size: 0; }
.vac-list-wrap .vacitem .head > div { display: inline-block; vertical-align: middle; }
.vac-list-wrap .vacitem .head .name { width: 70%; font-size: 28px; font-weight: bold; color: #041425;}
.vac-list-wrap .vacitem .head .name span { margin-top: 10px; display: inline-block;}
.vac-list-wrap .vacitem .head .name span a{ text-decoration: none; }
.vac-list-wrap .vacitem .head .published { width: 30%; text-align: right; font-size: 16px; color: red;}
.vac-list-wrap .vacitem .head .published strong { font-size: 18px; }
.vac-list-wrap .vacitem .info { padding: 0 15px 0 15px; }
.vac-list-wrap .vacitem .info .top-info { padding: 12px 0 14px 0; font-size: 16px; color: #5f6167; }
.vac-list-wrap .vacitem .info .top-info span { display: inline-block; font-size: 20px; color: #041425; }
.vac-list-wrap .vacitem .info .money { font-size: 20px; color: #dd331d; }
.vac-list-wrap .vacitem .info .schedule {font-size: 16px; color: #5f6167;}
.vac-list-wrap .vacitem .info .schedule span {font-size: 20px; color: #041425;}
.vac-list-wrap .vacitem .apply { width: 100%; height: 54px; line-height: 54px; border: none; font-size: 20px; text-transform: uppercase; color: #ffffff; background: #2e7db4; text-align: center; }
.vac-list-wrap .vacitem .apply.disabled { opacity: 0.5; }
.vac-list-wrap .vacitem .more { padding: 12px 0 0; display: inline-block; font-size: 18px; text-decoration: underline; }
.vac-list-wrap .vacitem .more:hover { text-decoration: none; }
.vac-list-wrap .vacitem .notice { padding-top: 10px; font-size: 20px; color: #dd331d; }
.bottom-vac { padding: 21px 0 0; }

.vac-list-wrap .pagi-nav { padding: 76px 0 76px 0; text-align: center; }
.vac-list-wrap .pagi-nav li { padding: 0 12px; display: inline-block; vertical-align: top; }
.vac-list-wrap .pagi-nav li a { width: 27px; height: 28px; line-height: 27px; display: inline-block; font-weight: bold; font-size: 20px; color: #5f6167; font-family: calibri; }
.vac-list-wrap .pagi-nav li a img { vertical-align: top; }
.vac-list-wrap .pagi-nav li.active a { border: 1px solid #2e7db4; color: #041425; }
a { outline: none; }
.redact { padding-top: 33px; padding-bottom: 12px; }
.redact a { padding-top: 20px; display: inline-block; position: relative; color: #3984b8; font-size: 20px; font-weight: bold; font-family: calibri; }
.redact a:before { content: ''; margin-left: -16px; width: 32px; height: 15px; top: 0; position: absolute; left: 50%; background: url(../img/redact-triangle.png); background-position: 0 0; }
.redact a.open:before { background-position: 0 -15px; }
form.filter { margin-top:25px; }
.filter .fancy-select { margin-bottom: 18px; }
.filter .find { width: 100%; height: 45px; line-height: 45px; border: none; font-size: 20px; text-transform: uppercase; color: #ffffff; background: #204287; text-align: center; }

.vac-single-wrap { padding-bottom: 95px; }
.vac-single-wrap .return-to { margin: 50px 0 47px 0; display: inline-block; padding-left: 30px; font-size: 20px; font-family: calibri; text-decoration: underline; background: url(../img/return-arrow.png) 0 9px no-repeat; }
.vac-single { margin-top: 25px; padding-bottom: 28px; background: #e3e5e6; font-family: calibri;}
.vac-single .head { padding: 0 15px 0 15px; border-bottom: 1px solid #fff; font-size: 0; }
.vac-single .head > div { display: inline-block; vertical-align: middle; }
.vac-single .head .name { width: 70%; font-size: 28px; font-weight: bold; color: #041425;}
.vac-single .head .name span { margin-top: 10px; display: inline-block;}
.vac-single .head .published { width: 30%; text-align: right; font-size: 16px; color: red;}
.vac-single .head .published strong { font-size: 18px; }
.vac-single .info { padding: 0 15px 0 15px; }
.vac-single .info .top-info { padding: 12px 0 14px 0; font-size: 16px; color: #5f6167; }
.vac-single .info .top-info span { display: inline-block; font-size: 20px; color: #041425; }
.vac-single .info .money { font-size: 20px; color: #dd331d; }
.vac-single .info .schedule {font-size: 16px; color: #5f6167;}
.vac-single .info .schedule span {font-size: 20px; color: #041425;}
.vac-single .info .description { padding: 11px 0 16px 0; border-bottom: 1px solid #fff; }
.vac-single .info .description span {font-size: 20px; color: #041425;}
.vac-single .info .description p { color: #5f6167; font-size: 16px; line-height: 20px; }
.vac-single .info .level { padding: 15px 0 12px 0; font-size: 20px; border-bottom: 1px solid #fff; }
.vac-single .info .level .danger { color: #dd331d; }
.vac-single .info .level strong { font-size: 24px; }
.vac-single .info .needed { padding: 18px 0 13px 0; }
.vac-single .info .need-title { font-size: 20px; color: #3984b8; text-decoration: underline; }
.vac-single .info .needed .text { font-size: 20px; }
.vac-single .apply { width: 100%; height: 54px; line-height: 54px; border: none; font-size: 20px; text-transform: uppercase; color: #ffffff; background: #2e7db4; text-align: center; }
.vac-single .apply.disabled { opacity: 0.5; }
.vac-single .more { padding: 12px 0 0; display: inline-block; font-size: 18px; text-decoration: underline; }
.vac-single .item .more:hover { text-decoration: none; }
.vac-single .item .notice { padding-top: 10px; font-size: 20px; color: #dd331d; }
.bottom-vac { padding: 21px 0 0; }

.fade-screen { background: rgba(5,21,37,0.7); position: fixed; width: 100%; height: 100%; top: 0; z-index: 10; }

.pop-up { padding: 0 100px 65px 100px; margin-left: -330px; width: 660px; background: #fff; z-index: 11; position: fixed; top: 50%; left: 50%; transform: translateY(-50%); }
.pop-up .close { width: 30px; height: 30px; position: absolute; top: 7px; right: 8px; border: 3px solid #204287; opacity: 1; }
.pop-up .close:hover { opacity: 0.7; }
.pop-up .title { padding-top: 10px; padding-bottom: 55px; font-size: 20px; color: #041425; font-family: calibri; }
.pop-up .inp-form { padding: 0 16px; width: 100%; box-sizing: border-box; height: 43px; line-height: 43px; background: #eaf2f7; border: 1px solid #204287; font-size: 20px; font-family: calibri; color: #041425; }
.pop-up .inp-form:focus { background: #fff; box-shadow: inset 0 0 0 1px #204287; outline: none; }
.pop-up .enter { margin-bottom: 30px; margin-top: 15px; width: 100%; height: 59px; line-height: 59px; border: none; transition: all 400ms; font-family: calibri; font-size: 22px; text-transform: uppercase; text-align: center; font-weight: 500; color: #fff; background: #204287; }
.pop-up .enter:hover { opacity: 0.8; }
.pop-up .forgot { text-decoration: underline; font-size: 20px; display: block; font-family: calibri; }
.pop-up .sup-title { padding-bottom: 20px; text-align: center; line-height: 32px; color: #204287; font-size: 26px; text-transform: uppercase; font-weight: 900; font-family: calibri; }
.pop-up .item { padding-bottom: 29px; position: relative; }
.pop-up .error .notice { font-size: 16px; color: #ff1919; font-family: calibri; bottom: 4px; }
.pop-up .text {  font-size: 20px; font-family: calibri; line-height: 13px; }
.pop-up .enter-site { text-decoration: underline; font-size: 20px; display: block; font-family: calibri; }

#fade-screen, #login_form, #reg_form, #callback_form, #callback_success_form {display: none;}


#for_rot { cursor: pointer; display: block; }
#span_rot { position: absolute; top: 0; left: 0; padding-left: 12px; }

/**CHECKBOX**/
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:12px; 
  top: 25px;
  width: 45px; height: 45px;
  border: 1px solid #204287;
 
  border-radius: 0;
  
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 33px; left: 22px;
  font-size: 33px;
  line-height: 0.8;
  color: #204287;
  transition: all .2s;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(o);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  
}


.cross {
	position: absolute;
    right: 50px;
    cursor: pointer;
    z-index: 1000;
	font-style:normal;
	font-size:14px;
	display:none;
}


/*****************Company Page Styles*********************/

.main-menu-wrap { background: url(../img/top-pattern.jpg); }
.main-menu { width: 100%; display: table; padding: 0; margin: 0; }
.main-menu li { display: table-cell; text-align: center;}
.main-menu li a { position: relative; width: 100%; padding: 40px 0; display: inline-block; box-sizing: border-box; font-size: 16px; color: #fff; font-family: 'Open Sans', sans-serif; }
.main-menu li a:hover { background: #2e7db4; text-decoration: none; z-index: 12; }
.main-menu li a:hover:before { display: none; }
.main-menu li a:before { content: ''; margin-top: -10px; width: 1px; height: 20px; background: #63778f; position: absolute; top: 50%; left:-1px; }
.main-menu li:first-child a:before { display: none; }

.group-head { margin-top: 47px; margin-bottom: 61px; background: #e3e5e6; padding: 11px 24px 11px 24px; }
.group-head .name { font-size: 28px; color: #041425; font-family: calibri_bold; }
.group-head .quantity { padding-top: 11px; font-size: 18px; font-family: calibri; }

.member-wrap { text-align: center; }
.member-wrap .item { width: 408px; display: inline-block; padding-bottom: 54px; position: relative; }
.member-wrap .item .avatar { width: 110px; height: 110px; border-radius: 50%; background: url(../img/member-bg.png); z-index: 2; }
.member-wrap .item .avatar:before { content: ''; width: 1px; height: 100%; left: 55px; position: absolute; background: #3984b8; bottom: 60px; z-index: -1; }
.member-wrap .item:first-child .avatar:before { display: none; }
.member-wrap .item:last-child .avatar:before { display: none; }
.member-wrap .item .avatar img { width: 100%; border: 1px solid #3984b8; display: block; border-radius: 50%;}
.member-wrap .item > * { display: inline-block; }
.member-wrap .item .info { width: 293px; padding-left: 50px; text-align: left; font-family: calibri; box-sizing: border-box;}
.member-wrap .item .name { padding-bottom: 4px; font-size: 20px; color: #041425; line-height: 22px; }
.member-wrap .item .position { padding: 0 0 0 14px; color: #3984b8; text-transform: uppercase; }
.member-wrap .item .mail { font-size: 16px; color: #5f6167; text-decoration: underline; }
.member-wrap .item .mail:hover { text-decoration: none; }
.member-wrap .item .phone { font-size: 16px; color: #5f6167; }

.navbar { margin-bottom: 0; }

aside { padding-top: 47px; }
.sidebar-menu { margin-bottom: 150px; padding: 0; list-style: none; }
.sidebar-menu li { border-top: 1px solid #285e8b; }
.sidebar-menu li a { padding: 10px 4px 9px 24px; color: #7ef393; font-size: 16px; display: block; background: #2e7db4; }
.sidebar-menu li a:hover { color: #fff; background: #285e8b; text-decoration: none; }
.sidebar-menu li > .active { color: #fff; background: #285e8b; text-decoration: none; }

article { padding: 27px 0 20px 0; }
article h1 { font-size: 28px; font-weight: bold; }
article h2 { font-size: 20px; }

.doc-total-wrap { padding-bottom: 85px; }
.documents-wrap {}
.documents-wrap .doc-head { margin-top: 47px; margin-bottom: 14px; padding: 11px 24px 10px 24px; background: #e3e5e6; }
.documents-wrap .doc-head .title { color: #041425; font-size: 28px; font-weight: bold; }
.documents-wrap .doc-head .quantity { padding-top: 11px; width: 160px; vertical-align: top; font-size: 18px; color: #041425; display: inline-block; }
.documents-wrap .doc-head .upload { padding-top: 15px; width: 150px; vertical-align: top; display: inline-block; position: relative; overflow: hidden;}
.documents-wrap .doc-head .upload input { opacity: 0; cursor: pointer; z-index: 2; position: relative;}
.documents-wrap .doc-head .upload a { padding: 0 0 0 26px; background: url(../img/upload-bg.png) no-repeat; display: block; position: absolute; left: 0; z-index: 1; }
.documents-wrap .doc-head .upload a:hover {}

.doc-list {}
.doc-list .item { padding: 8px 0 20px 0; display: block; text-align: center; transition: all 400ms; }
.doc-list .item:hover { text-decoration: none; }
.doc-list .item:hover .type { background: #204287; }
.doc-list .item:hover .doc-date { color: #204287; }
.doc-list .item:hover .name { color: #204287; }
.doc-list .item .type { margin: 0 auto; border: 3px solid #204287; width: 100px; height: 140px; position: relative; }
.doc-list .item .icon { position: absolute; top: 50%; right: -32px; transform: translateY(-50%); font-size: 60px; font-weight: 800; font-family: 'Open Sans', sans-serif; color: #fff; text-shadow: 1px 1px #204287, 2px 2px #204287, -1px -1px #204287, -2px -2px #204287, -1px 1px #204287, 1px -1px #204287, -2px 2px #204287, 2px -2px #204287; text-transform: uppercase; }
.doc-list .item .doc-date { padding-bottom: 7px; color:#5f6167; font-size: 16px; }
.doc-list .item .name { padding-top: 15px; font-size: 20px; line-height: 22px; font-family: calibri; color: #041425; }
.doc-list .item .download { width: 100px; padding-left: 22px; display: block; margin: 18px auto 0 auto; line-height: 40px; box-sizing: border-box; position: relative; cursor: pointer; border: none; background: #2e7db4; font-size: 14px; color: #ffffff; text-transform: uppercase; font-family: 'Open Sans', sans-serif; }
.doc-list .item .download:before { content: ''; width: 8px; height: 10px; position: absolute; top: 17px; left: 11px; background: url(/static/img/arrow-download.png) no-repeat; }
.doc-list .item:hover .download { color: #041425; }

.blue-separator { clear: both; text-align: center; position: relative; height: 40px; }
.blue-separator:before { content: ''; left: 0; right: 0; height: 1px; position: absolute; top: 20px; background: #4e8ebd; }
.blue-separator a { padding: 0 6px; background: #fff; display: inline-block; position: absolute; left: 50%; top: 9px;  transform: translateX(-50%); }




.news-list-title { padding: 43px 0 23px 0; font-size: 28px; font-weight: bold; }

.news-list-wrap {}
.news-list-wrap .item { margin-bottom: 54px; padding: 0 0 52px 0; position: relative; border-bottom: 1px solid #88b5d4; }
.news-list-wrap .item .head { margin-bottom: 21px; background: #e3e5e6; }
.news-list-wrap .item .head .news-name { padding-top: 15px; padding-bottom: 19px; padding-left: 23px; font-size: 18px; color: #041425; font-family: 'Open Sans', sans-serif; }
.news-list-wrap .item .head .news-date { padding-top: 9px; text-align: center; font-size: 18px; font-family: calibri; color: #3984b8; }
.news-list-wrap .item .head .news-date span { font-size: 26px; font-weight: bold; }
.news-list-wrap .item .img-wrap { border: 5px solid #2e7db4; }
.news-list-wrap .item .img-wrap a { opacity: 0.65; transition: all 400ms; display: block; }
.news-list-wrap .item .img-wrap a:hover { opacity: 1; }
.news-list-wrap .item .img-wrap a img { width: 100%; }
.news-list-wrap .item .info {}
.news-list-wrap .item .sub-title { padding-bottom: 9px; font-size: 20px; color: #2e7db4; font-family: calibri; }
.news-list-wrap .item .text {  font-family: calibri; font-size: 16px; line-height: 20px; color: #5f6167; }
.news-list-wrap .item .more-wrap { padding-left: 22px; background: #fff; position: absolute; bottom: -1px; right: 0; }
.news-list-wrap .item .more { width: 116px; text-align: center; transition: all 400ms; display: inline-block; line-height: 32px; font-size: 14px; color: #fff; font-family: 'Open Sans', sans-serif; background: #2e7db4; border: 1px solid #2e7db4; }
.news-list-wrap .item .more:hover { color: #2e7db4; background: #fff; text-decoration: none; }

.news-list-wrap .pagi-nav { padding: 0 0 76px 0; text-align: center; }
.news-list-wrap .pagi-nav li { padding: 0 12px; display: inline-block; vertical-align: top; }
.news-list-wrap .pagi-nav li a { width: 27px; height: 28px; line-height: 27px; display: inline-block; font-weight: bold; font-size: 20px; color: #5f6167; font-family: calibri; }
.news-list-wrap .pagi-nav li a img { vertical-align: top; }
.news-list-wrap .pagi-nav li.active a { border: 1px solid #2e7db4; color: #041425; }






.news-single-wrap .return-to { margin: 50px 0 47px 0; display: inline-block; padding-left: 30px; font-size: 20px; font-family: calibri; text-decoration: underline; background: url(../img/return-arrow.png) 0 9px no-repeat; }

.news-single-wrap .item { margin-bottom: 54px; padding: 0 0 52px 0; position: relative; border-bottom: 1px solid #88b5d4; }
.news-single-wrap .item .head { margin-bottom: 21px; background: #e3e5e6; }
.news-single-wrap .item .head .news-name { padding-top: 15px; padding-bottom: 19px; padding-left: 23px; font-size: 18px; color: #041425; font-family: 'Open Sans', sans-serif; }
.news-single-wrap .item .head .news-date { padding-top: 9px; text-align: center; font-size: 18px; font-family: calibri; color: #3984b8; }
.news-single-wrap .item .head .news-date span { font-size: 26px; font-weight: bold; }
.news-single-wrap .item .wrap { padding: 0 23px 5px 0; float: left; }
.news-single-wrap .item .img-wrap { border: 5px solid #2e7db4; }

.news-single-wrap .item .img-wrap img { width: 305px; }

.news-single-wrap .item .info {}
.news-single-wrap .item .sub-title { padding-bottom: 9px; font-size: 20px; color: #2e7db4; font-family: calibri; }
.news-single-wrap .item .text { padding-bottom: 32px; font-family: calibri; font-size: 16px; line-height: 20px; color: #5f6167; }

.news-single-wrap .list-title { padding: 21px 0 8px 0; color: #2e7db4; font-size: 20px; font-family: calibri; }

.news-single-wrap ul {}
.news-single-wrap ul li { padding-bottom: 15px; font-size: 16px; color: #5f6167; }

.news-single-wrap .important-block { margin-top: 20px; padding: 18px 25px 17px 25px; background: #e3e5e6; color: #041425; }
.news-single-wrap .important-block .imp-title { font-size: 28px; font-weight: bold;}
.news-single-wrap .important-block .imp-sub { padding-bottom: 9px; font-size: 20px; font-family: calibri;}
.news-single-wrap .important-block p { font-family: calibri; font-size: 16px; line-height: 20px;}

.top-icons-wrap { padding: 40px 0; background: url(../img/top-icons-bg.jpg) 50% 50% no-repeat; }

.top-icons-list { margin: 0; font-size: 0; padding: 0; list-style: none; }
.top-icons-list li { padding: 0 6px 0 0; opacity: 0.70; vertical-align: top; box-sizing: border-box; width: 25%; display: inline-block; font-size: 16px; }
.top-icons-list li.active { opacity: 1; }
.top-icons-list li.active .title { opacity: 1; }
.top-icons-list li.active .icon { background-position: 0 -73px;}
.top-icons-list li:last-child { padding-right: 0; }
.top-icons-list li:hover { opacity: 1; }
.top-icons-list li:hover .title { opacity: 1; }
.top-icons-list li a { padding: 31px 0 27px 10px; text-decoration: none; display: block; background: #fff; min-height: 130px; box-sizing: border-box; }
.top-icons-list .icon { margin-right: 9px; width: 73px; height: 73px; display: block; float: left; }
.top-icons-list .icon1 { background: url(../img/top-icon1.png); }
.top-icons-list .icon2 { background: url(../img/top-icon2.png); }
.top-icons-list .icon3 { background: url(../img/top-icon3.png); }
.top-icons-list .icon4 { background: url(../img/top-icon4.png); }
.top-icons-list li a:hover .icon { background-position: 0 -73px; }
.top-icons-list .text { line-height: 14px; max-width: 127px; display: inline-block; }
.top-icons-list .title { padding: 11px 0; font-size: 22px; color: #041425; display: inline-block; opacity: 0.8; }
.top-icons-list em { font-style: normal; max-width: 127px; display: inline-block; }

.work-choose-city {}
.work-choose-city .choose-title { padding: 48px 0 9px 0; font-size: 20px; font-weight: bold; color: #041425; text-transform: uppercase;}

.work-choose-city .choose { width: 100%; height: 49px; line-height: 54px; border: none; font-size: 20px; text-transform: uppercase; color: #ffffff; background: #204287; text-align: center; }
.work-choose-city .choose:hover { opacity: 0.8; }
.choose-border { padding-top: 45px; border-bottom: 3px dotted #a8b1c8; }

.work-city-result { padding-bottom: 120px; }
.work-city-result .res-title { padding-top: 50px; font-size: 28px; font-weight: bold; color: #041425; }
.work-city-result .con-label { color: #204287; font-weight: bold; font-size: 20px; line-height: 20px;}
.work-city-result .value { padding-bottom: 18px; font-size: 16px; color: #5f6167; line-height: 20px; }
.work-city-result .result-item { padding-top: 20px; }
.work-city-result .result-map { padding-top: 28px; padding-bottom: 42px; }
.work-city-result .result-map img { width: 100%; }
#city_selector{padding-top:40px;}

.work-city-result .result-item .send { width: 100%; height: 54px; line-height: 54px; border: none; font-size: 20px; text-transform: uppercase; color: #ffffff; background: #2e7db4; text-align: center; }
.work-city-result .result-item .send:hover { opacity: 0.8; }

.work-menu { margin-left: 0; padding: 0; list-style: none; margin-top: 20px; }
.work-menu li { display: inline-block; margin-right: 45px; text-align: center; }
.work-menu li a { opacity: 0.7; display: block; position: relative; }
.work-menu li.active a:before { content: ''; margin-left: -12px; width: 24px; height: 13px; background: url(../img/work-arrow-active.jpg); position: absolute; left: 50%; bottom: -11px; }
.work-menu li a:hover { opacity: 1; text-decoration: none; }
.work-menu li.active a { opacity: 1; text-decoration: none; }
.work-menu li a span { display: block; font-size: 20px; font-weight: bold; color: #041425; }

a.top_line_link:visited {
    color: #6ada86;
}

.result-map{height:290px;}
.work-article-body { padding: 22px 30px 65px 30px; margin-bottom: 110px; border:1px solid #204287; }
.work-article-body p { color: #5f6167; }
.work-article-body .choose-border { padding-top: 15px; }
.work-article-body .image { text-align: center; }

.work-article-sub-slogan { padding-top: 24px; font-size: 20px; font-family: 'Open Sans', sans-serif; color: #041425; text-align: center; }
.work-article-slogan { padding-top: 18px; font-size: 35px; font-weight: 900; font-family: 'Open Sans', sans-serif; color: #3984b8; text-transform: uppercase; text-align: center; }

.work-article-body .work-title { padding: 17px 0 29px 0; font-size: 28px; color: #041425; font-weight: bold; font-family: 'Open Sans', sans-serif; }
.work-article-body h1.work-title { text-align: center; padding: 17px 0 29px 0; font-family: 'Open Sans', sans-serif; font-size: 35px; text-transform: uppercase; color: #3984b8; font-weight: bold; }

.work-article-body .sub-title { padding: 18px 0 0; font-size: 20px; font-family: 'Open Sans', sans-serif; }

.interview-wrap { background: #e3e5e6; }
.interview-wrap .image img { width: 100%; }
.interview-wrap .text { padding: 20px 20px 20px 20px; }
.interview-wrap .text ul { list-style: none; padding: 8px 0 0; }
.interview-wrap .text ul li span { width: 85px; display: inline-block; font-size: 16px; font-family: 'Open Sans', sans-serif; }
.interview-wrap .inter-title { padding-bottom: 10px; font-size: 20px; font-weight: bold; color: #041425; font-family: 'Open Sans', sans-serif; }

.work-article-body .photo-image { padding-top: 10px; padding-bottom: 20px; }

.video-item { padding-right: 20px; padding-left: 20px; margin-bottom: 28px; padding-bottom: 25px; background: #e3e5e6; }
.video-item iframe { width: 100%; }
.video-title { padding: 20px 0 19px 0; text-align: center; font-size: 20px; font-family: 'Open Sans', sans-serif; }


.slider .owl-nav { position: absolute; left: 0; right: 0; top: 40%; transform: translateY(-50%); }
.slider .owl-nav > div { position: absolute; width: 50px; height: 50px; top: 40%; transform: translateY(-50%); font-size: 0; }
.slider .owl-nav .owl-prev { left: 15px; }
.slider .owl-nav .owl-next { right: 15px; }
.slider .owl-nav .owl-prev:before { color: #acafb2; content: "\f104"; font-size: 60px; line-height: 50px; text-align: center; position: absolute;top: 0; left: 0; width: 50px; height: 50px; font-family: 'FontAwesome'; }
.slider .owl-nav .owl-next:before { color: #acafb2; content: "\f105"; font-size: 60px; line-height: 50px; text-align: center; position: absolute;top: 0; left: 0; width: 50px; height: 50px; font-family: 'FontAwesome'; }
.vac-slider .item { text-align: center; }

#vac_choose, #signup_but2 {
	    cursor: pointer;
}

#fio{
	color: #e3e5e6;
}

#success_info{
	text-align:center;
}

#success_info h3{
	text-transform:uppercase;
}

#modalHeader {
	text-transform:uppercase;
}

.link {
		margin: 50px 0 47px 0;
    display: inline-block;
    padding-left: 30px;
    font-size: 20px;
    font-family: calibri;
    text-decoration: underline;
}