{% extends 'basis.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="sidebar">
                    <ul class="sidebar-menu">
                        <li><a href="/personal/structure">Структура компании</a></li>
                        <li><a href="/personal/library">Библиотека документов</a></li>
                        <li><a href="/personal/bankcard">Статус банковской карты</a></li>
                        <li><a href="/personal/kpi">KPI</a></li>
                        <li><a class="active" href="/personal/education">Мое обучение</a></li>
                    </ul>
                </aside>    
            </div>
            <div class="col-md-9">
                
                {% for e in general %}
                <article>
                    {{ e.content|safe }}
                </article>
                {% endfor %}
                
                {% for e in personal %}
                <article>
                    {{ e.content|safe }}
                </article>
                {% endfor %}
            </div>
        </div>
  </div>
{% endblock %}