{% extends 'basis.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="sidebar">
                    <ul class="sidebar-menu">
                        <li><a href="/personal/structure">Структура компании</a></li>
                        <li><a class="active" href="/personal/library">Библиотека документов</a></li>
                        <li><a href="/personal/bankcard">Статус банковской карты</a></li>
                        <li><a href="/personal/kpi">KPI</a></li>
                        <li><a href="/personal/education">Мое обучение</a></li>
                    </ul>
                </aside>    
            </div>
            <div class="col-md-9 documents-wrap">
                <div class="doc-head">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="title">Общие документы</div>
                            </div>
                        </div>
                    </div>
                <div class="doc-list">
                        <div class="row">
                            {% for d in general %}
                            <div class="col-md-3">
                                <a href="{{ d.doc_path.url }}" class="item">
                                    <div class="doc-date">{{ d.doc_date }}</div>
                                    <div class="type">
                                        <div class="icon">{% if d.doc_type|stringformat:"s" == 'doc' %}w
                                                            {% elif d.doc_type|stringformat:"s" == 'xls' %}X
                                                            {% elif d.doc_type|stringformat:"s" == 'pdf' %}pdf
                                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="name">{{ d.doc_name }}</div>
                                    <button class="download" onclick="window.location.href='{{d.doc_path.url}}'">Скачать</button>
                                </a>
                            </div>
                            {% endfor %}
                         <div class="blue-separator"></div>
                    </div>
                </div>
                <div class="doc-head">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="title">Персональные документы</div>
                            </div>
                        </div>
               </div>
                <div class="doc-list">
                        <div class="row">
                    {% for d in personal %}
                        <div class="col-md-3">
                                <a href="{{ d.doc_path.url }}" class="item">
                                    <div class="doc-date">{{ d.doc_date }}</div>
                                    <div class="type">
                                        <div class="icon">{% if d.doc_type|stringformat:"s" == 'doc' %}w
                                                            {% elif d.doc_type|stringformat:"s" == 'xls' %}X
                                                            {% elif d.doc_type|stringformat:"s" == 'pdf' %}pdf
                                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="name">{{ d.doc_name }}</div>
                                    <button class="download" onclick="window.location.href='{{d.doc_path.url}}'">Скачать</button>
                                </a>
                            </div>
                    {% endfor %}
                            <div class="blue-separator"></div>
                    </div>
                </div>
            </div>
        </div>
  </div>
{% endblock %}