{% extends 'basis.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="sidebar">
                    <ul class="sidebar-menu">
                        <li><a class="active" href="/personal/structure">Структура компании</a></li>
                        <li><a href="/personal/library">Библиотека документов</a></li>
                        <li><a href="/personal/bankcard">Статус банковской карты</a></li>
                        <li><a href="/personal/kpi">KPI</a></li>
                        <li><a href="/personal/education">Мое обучение</a></li>
                    </ul>
                </aside>    
            </div>
            <div class="col-md-9">
                <div class="group-wrap">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="group-head">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="name">Структура компании</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="member-wrap">
                                    {% if bid %}
                                    {% if fl %}
                                    <div class="item">
                                        <div class="avatar"><img src="/static/img/member-ava.jpg" alt=""></div>
                                        <div class="info">
                                            <div class="name">{{ fl.l_name }} {{ fl.f_name }}<br> {{ fl.m_name }}</div>
                                            <ul class="position">
                                                <li>{{ fl.position|upper }}</li>
                                            </ul>
                                            <a href="mailto:semenov@gmail.com" class="mail">{{ fl.email }}</a>
                                            <div class="phone">{{ fl.phone }}</div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    {% endif %}
                                    {% if sl %}
                                    <div class="item">
                                        <div class="avatar"><img src="/static/img/member-ava.jpg" alt=""></div>
                                        <div class="info">
                                            <div class="name">{{ sl.l_name }} {{ sl.f_name }}<br> {{ sl.m_name }}</div>
                                            <ul class="position">
                                                <li>{{ sl.position|upper }}</li>
                                            </ul>
                                            <a href="mailto:semenov@gmail.com" class="mail">{{ sl.email }}</a>
                                            <div class="phone">{{ sl.phone }}</div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    {% endif %}
                                    <div class="item">
                                        <div class="avatar"><img src="/static/img/member-bg.png" alt=""></div>
                                        <div class="info">
                                            <div class="name">{{ own.l_name }} {{ own.f_name }}<br> {{ own.m_name }}</div>
                                            {% if own.position %}
                                            <ul class="position">
                                                <li>{{ own.position|upper }}</li>
                                            </ul>
                                            {% endif %}
                                            <a href="mailto:semenov@gmail.com" class="mail">{{ own.user.email }}</a>
                                            <div class="phone">{{ own.phone }}</div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="item">
                                        <h3>Вы еще не являетесь сотрудником компании.</h3>
                                    </div>
                                    {% endif %}
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>  
            </div>
        </div>
    </div>
{% endblock %}