{% extends 'basis.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block extend_header %}

<link href="{% static 'css/masterzone.css' %}" rel="stylesheet">

<script type="text/javascript" src="{% static 'js/masterzone.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="news-list-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                {% include 'masterzone_menu.html' %}    
                </div>
                <div class="col-md-9"><h1 class="news-list-title">ЗАПРОСЫ ОБРАТНОГО ЗВОНКА</h1></div>
                <div class="col-md-9">                   
                    <table class="table">
                    <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Телефон</th>
                            <th>Регион</th>
                            <th>Комментарий</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in calls %}
                        <tr>
                            <td>{{ c.requester.profile.l_name }} {{ c.user.profile.f_name }}</td>
                            <td>{{ c.requester.profile.phone }}</td>
                            <td>{{ c.area.area }}</td>
                            <td>{{ c.comment }}</td>
                            {% if c.status == 1%}
                            <td><a class="btn btn-success" href="/masterzone/calls/take/{{ c.id }}">Ответить</a></td>
                            {% else %}
                            <td>Обработан</td>
                            {% endif %}
                            <!--<td><a class="btn btn-danger" href="/masterzone/subscribe/delete/{{ s.id }}">Удалить</a></td>-->
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}