{% extends "basis.html" %}
{% load staticfiles %}
{% load i18n %}

{% block sigreg %}
<div id="fade-screen" class="fade-screen" style="display: block;"></div>
<div id="login_form" class="pop-up" style="display: block;">
      <div class="close"><a id="login_form_close" href="/"><img src="/static/img/popup-close.jpg" alt=""></a></div>
      <div class="title text-center">Вход</div>
			{{ form.non_field_errors.as_text }}
			<form class="ui form" role="form" method="POST" action="/login/">
					{% csrf_token %}
						<div class="field {% if form.login.errors %}error{% endif %}">
							
							<input autofocus="autofocus" id="id_login" name="login" placeholder="Имя пользователя или e-mail" type="text">
							<div class="notice">{{ form.login.errors.as_text }}</div>
						</div>						
						
						<div class="field {% if form.password.errors %}error{% endif %}">
							<input id="id_password" name="password" placeholder="Пароль" type="password">
							<div class="notice">{{ form.password.errors.as_text }}</div>
						</div>
						<button class="enter" type="submit">Войти</button>
						<a href="/password/reset/" class="forgot text-center">Забыли пароль?</a>
			</form>
</div>
{% endblock %}

{% block content %}
							<section class="section_2">
        <div class="main_title">
          <h1>ПОЛУЧИТЕ ПРЕДЛОЖЕНИЕ О РАБОТЕ <br>ПРЯМО СЕЙЧАС</h1>
        </div>
        <div class="container">
          <div class="row padd">
						<form action="/jobs">
							
						
                <div class="col-md-5 alt-sel">
					<h4>
									Позиция:
								</h4>
										 <select class="ui selection transparent dropdown" id="id_position" name="position">
												<option value="" selected="selected">---------</option>
										 </select>
                </div>
                <div class="col-md-5 alt-sel">
					<h4>
									Регион:
								</h4>
                   <select class="ui selection transparent dropdown" id="id_position" name="position">
												<option value="" selected="selected">---------</option>
										 </select>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="search_btn">искать</button>
                </div>
              </form> 
          </div>
          <div class="row text-center">
            <h2 class="top_title_2">Зарегистрируйтесь и получите доступ к 11000 вакансиям</h2>
            <button onclick="window.location.href='/signup/'" class="top_btn_2">Регистрация</button>
          </div>
        </div>

      </section>
<script>
$(document).ready(function(){
		$('body').css('overflow', 'hidden');							
});
</script>
{% endblock %}
{% block ascontent %}
<div id="login_page_bck">
	<div class="ui page grid">
		<div class="sixteen wide mobile eight wide tablet six wide computer column centered">
			<div id="login_form" class="ui form segment center">
					<h2 class="ui center aligned header">{% trans "Sign In" %}</h2>
					<hr></hr>
				<div id="errors">{% for error in form.non_field_errors %}<p class="text-danger er_p">{{ error|escape }}</p>{% endfor %}</div>	
					<form role="form" method="POST" action="{% url 'account_login' %}">
					{% csrf_token %}
						<div class="field">
							<div class="ui left icon big input"><i class="user icon"></i>{{ form.login }}</div>
						</div>
							<!--<div id="errors_s" class="text-center">{% for error in form.login.errors %}
									<h6><p class="text-danger er_p">{{ error|escape }}</p></h6>{% endfor %}</div>-->
						<div class="field">
							<div class="ui left icon big input"><i class="lock icon"></i>{{ form.password }}</div>
						</div>
							<!--<div id="errors_s" class="text-center">{% for error in form.password.errors %}<h6><p class="text-danger er_p">
								{{ error|escape }}</p></h6>{% endfor %}</div>-->
						<div class="inline field">
							<div class="ui checkbox">
								{{ form.remember }}
								<label for="id_remember">{% trans "Remember Me" %}</label>
							</div>
						</div>
						<div class="field">
							<button class="fluid ui primary big button" type="submit">{% trans "Sign In" %}</button>
						</div>
						<div class="field">	
							<a href="{{ signup_url }}" class="fluid ui big button">{% trans "Sign Up" %}</a>
						</div>
						
						<div class="field">
							<hr></hr>
						</div>
					</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
