{% extends "basis.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Восстановление пароля{% endblock %}

{% block sigreg %}
<div id="fade-screen" class="fade-screen" style="display: block;"></div>
<div class="pop-up" style="display: block;">
      <div class="close"><a id="login_form_close" href="/"><img src="/static/img/popup-close.jpg" alt=""></a></div>
      <div class="title text-center">Восстановление пароля</div>
	  <p>Инструкция по восстановлению пароля была отправлена на указанный адрес.</p>	
</div>   
{% endblock %}

{% block content %}
							<section class="section_2">
        <div class="main_title">
          <h1>ПОЛУЧИТЕ ПРЕДЛОЖЕНИЕ О РАБОТЕ <br>ПРЯМО СЕЙЧАС</h1>
        </div>
        <div class="container">
          <div class="row padd">
						<form action="/jobs">
							
						
                <div class="col-md-5 alt-sel">
										 <select class="ui dropdown" id="id_position" name="position">
												<option value="" selected="selected">---------</option>
										 </select>
                </div>
                <div class="col-md-5 alt-sel">
                   <select class="ui dropdown" id="id_position" name="position">
												<option value="" selected="selected">---------</option>
										 </select>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="search_btn">искать</button>
                </div>
              </form> 
          </div>
          <div class="row text-center">
            <h2 class="top_title_2">Зарегистрируйтесь и получите доступ к 11000 вакансиям</h2>
            <button onclick="window.location.href='/signup/'" class="top_btn_2">Регистрация</button>
          </div>
        </div>

      </section>
<script>
$(document).ready(function(){
		$('body').css('overflow', 'hidden');							
});
</script>
{% endblock %}
