{% extends "basis.html" %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block sigreg %}
<div id="fade-screen" class="fade-screen" style="display: block;"></div>
<div id="login_form" class="pop-up" style="display: block;">
      <div class="close"><a id="login_form_close" href="/"><img src="/static/img/popup-close.jpg" alt=""></a></div>
      <div class="title text-center">Регистрация</div>
			<div class="sup-title">Заполните следующие поля:</div>
			{{ form.non_field_errors.as_text }}
					<form role="form" id="signup_form" class="ui form" method="post" action="{% url 'account_signup' %}">
					{% csrf_token %}
						<input id="id_username" maxlength="30" name="username" placeholder="Имя пользователя" type="hidden">
						<div class="field {% if form.email.errors %}error{% endif %}">
							{{ form.email }}
							<div class="notice">{{ form.email.errors.as_text }}</div>
						</div>
						<div class="field {% if form.phone.errors %}error{% endif %}">
							{{ form.phone }}
							<div class="notice">{{ form.phone.errors.as_text }}</div>
						</div>
						<div class="field {% if form.password1.errors %}error{% endif %}">
							{{ form.password1 }}
							<div class="notice">{{ form.password1.errors.as_text }}</div>
						</div>
						<div class="field {% if form.password2.errors %}error{% endif %}">
							{{ form.password2 }}
							<div class="notice">{{ form.password2.errors.as_text }}</div>
						</div>
						<div class="field {% if form.captcha.errors %}error{% endif %}">
							{{ form.captcha }}
							<div class="notice">{{ form.captcha.errors.as_text }}</div>
						</div>
						<div class="field">
              <input id="id_privacy" name="privacy" type="checkbox">
							<label id="reg_label" for="id_privacy">Я принимаю <a target="_blank" href="/agreement">условия обработки персональных данных</a> и <a target="_blank" href="/user_agreement">пользовательское соглашение</a></label>
            </div>
							<button class="enter" id="regSubmitButt" type="submit" data-loading-text="Подождите...">Готово</button>
						<!--<div class="field">
                            <input id="id_privacy" name="privacy" type="checkbox">
                            <label id="reg_label" for="id_privacy">Я принимаю условия обработки персональных данных</label>
                        </div>
						<button class="enter" type="submit">{% trans "Sign Up" %}</button>
						<div class="g-recaptcha" data-sitekey="6LdKQCcTAAAAAPnOsoBigotg1-cVemieelxiHy6T"></div>-->
					</form>
</div>

{% endblock %}

{% block content %}
							<section class="section_2">
        <div class="main_title">
          <h1>ПОЛУЧИТЕ ПРЕДЛОЖЕНИЕ О РАБОТЕ <br>ПРЯМО СЕЙЧАС</h1>
        </div>
        <div class="container">
          <div class="row padd">
						<form action="/jobs">
							
						
                <div class="col-md-5 alt-sel">
					<h4>
									Позиция:
								</h4>
										 <select class="ui selection transparent dropdown" id="id_position" name="position">
												<option value="" selected="selected">---------</option>
										 </select>
                </div>
                <div class="col-md-5 alt-sel">
					<h4>
									Регион:
								</h4>
                   <select class="ui selection transparent dropdown" id="id_position" name="position">
												<option value="" selected="selected">---------</option>
										 </select>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="search_btn">искать</button>
                </div>
              </form> 
          </div>
          <div class="row text-center">
            <h2 class="top_title_2">Зарегистрируйтесь и получите доступ к 11000 вакансиям</h2>
            <button onclick="window.location.href='/signup/'" class="top_btn_2">Регистрация</button>
          </div>
        </div>

      </section>
<script>
$(document).ready(function(){
		$('body').css('overflow', 'hidden');							
});
</script>
{% endblock %}

<div id="login_page_bck">
	<div class="ui page grid">
		<div class="sixteen wide mobile eight wide tablet six wide computer four wide widescreen column centered">
			<div id="login_form" class="ui form segment center">
					<h2 class="ui center aligned header">{% trans "Sign Up" %}</h2>
					<hr></hr>
					<div id="errors">
						{% if form.errors %}
							{% for field in form %}
        						{% for error in field.errors %}
            						<p class="text-danger er_p">{{ error|escape }}</p>
								{% endfor %}
    						{% endfor %}
    						{% for error in form.non_field_errors %}
        						<p class="text-danger er_p">{{ error|escape }}</p>
							{% endfor %}
						{% endif %}
					</div>

<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>