{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
		<title>{%block title%}{%endblock%}</title>
	{%block header%}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!--<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">-->

		<link href="{% static 'css/lthh.css' %}" rel="stylesheet">

		<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet">
		<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if youser.idu view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
    {% block extend_header %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
