{% extends 'basis.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block extend_header %}

<link href="{% static 'css/masterzone.css' %}" rel="stylesheet">

<script type="text/javascript" src="{% static 'js/masterzone.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="news-list-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                {% include 'masterzone_menu.html' %}    
                </div>
                <div class="col-md-9"><h1 class="news-list-title">СПИСОК ПОДПИСАВШИХСЯ</h1></div>
                <div class="col-md-9">
                    <div class="row">
                        <form action="" method="get" class="filter">
                            <div class="col-md-6 form-inline">
                                <label for="id_l_name">Фамилия:</label>
                                {{ subscribers.form.user__profile__l_name|add_class:"ui search selection dropdown" }}
                              </div>
                            <div class="col-md-6 form-inline">
                                <label for="id_f_name">Имя:</label>
                                {{ subscribers.form.user__profile__f_name|add_class:"ui search selection dropdown" }}
                            </div>
                            <div class="col-md-6 form-inline">
                                <label for="id_phone">Номер телефона:</label>
                                {{ subscribers.form.user__profile__f_name|add_class:"ui search selection dropdown" }}
                            </div>
							<div class="col-md-6 form-inline">
                                <label for="id_region">Регион:</label>
                                {{ subscribers.form.area__area|add_class:"ui search selection dropdown" }}
                            </div>
                            <div class="col-md-6 col-md-offset-3 form-inline">
                                <button type="submit" class="find">Искать</button>
                            </div>
                        </form>
                     </div>                   
                    <table class="table">
                    <thead>
						<tr>
							<th>ФИО</th>
							<th>Телефон</th>
							<th>Регион</th>
							<th>Статус</th>
						</tr>
                    </thead>
                    <tbody>
                        {% for s in subscribers %}
                        <tr>
                            <td>{{ s.user.profile.l_name }} {{ s.user.profile.f_name }}</td>
                            <td>{{ s.user.profile.phone }}</td>
                            <td>{{ s.area.area }}</td>
                            <td><a class="btn btn-danger" href="/masterzone/subscribe/delete/{{ s.id }}">Удалить</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}