{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% load not_count %}
{% load regions %}
{% load user_aid %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<title>{%block title%}LeaderTeam{%endblock%}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="shortcut icon" href="http://dev.leaderteam.ru/favicon.ico" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    	<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    	<link href="{% static 'css/style.css' %}" rel="stylesheet">
    	<link href="{% static 'css/media.css' %}" rel="stylesheet">
		<link href="{% static 'css/questionnaire.css' %}" rel="stylesheet">
		<link href="{% static 'css/transition.css' %}" rel="stylesheet">
		<link href="{% static 'css/dropdown.css' %}" rel="stylesheet">
		<link href="{% static 'css/label.css' %}" rel="stylesheet">
		<link href="{% static 'css/form.css' %}" rel="stylesheet">
		<link href="{% static 'css/lthh.css' %}" rel="stylesheet">
		
		<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>	
		<script src="{% static 'js/dropdown.js' %}"></script>
		<script src="{% static 'js/mask.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script> 
		<script src="{% static 'js/transition.js' %}"></script>
		<script src="{% static 'js/form.js' %}"></script>
    <!--<script src="{% static 'js/lthh.js' %}"></script>-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if youser.idu view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extend_header %}
    {% endblock %}
		<script src='https://www.google.com/recaptcha/api.js'></script>
  </head>

<body>
	<input id="user_aid" type="hidden" value="{% user_aid %}" />
	<section class="top">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <a href="/"><img src="/static/img/logo.png"></a>
          </div>
          <div class="col-md-4 text-center">
						<span class="top_tel"><a id="main_tel" href="tel:+78007007185">8 800 700 71 85</a></span>
            <span class="tel_bottom_text">Звонок по России бесплатный</span>
          </div>
          <div class="col-md-4 text-right">
            <button id="callback"  class="top_btn">обратный звонок</button>
          </div>
        </div>
      </div> 
  	</section>
	  	<div class="top_line">
        <div class='container'>
          <div class="row">
            <div class="col-md-3">
              <a class="top_line_link" target="_blank" href="http://www.leaderteam.ru/">Клиентам и партнерам</a>
            </div>
              <div class="col-md-3 col-md-offset-6 text-right">
					{% if user.is_authenticated %}
								<span id="fio">{{ request.user.profile.l_name }} {{ request.user.profile.f_name }} {{ request.user.profile.m_name }}</span>
						<a class="auth_link" href="/logout">Выход</a>
					{% else %}
                <a class="auth_link" id="signup">Регистрация</a>
                <a class="auth_link" id="login"><img src="/static/img/top_link_img.png">Вход</a>
								{% endif %}
             </div>
          </div>
        </div>
      </div>
<input id="filled_check" type="hidden" value="{{ request.user.profile.filled|yesno:'true,false' }}" />
{% if user.is_authenticated %}
	
<div class="header-menu">

    <nav class="navbar navbar-default header-menu--custom-navbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-left collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
				{% if user.is_staff %}
				<li><a href="/masterzone">Администрирование</a></li>
				{% endif %}
        <li><a href="/jobs">Вакансии</a></li>
        <li><a href="/replies">Заявки</a></li>
        <!--<li><a href="/profile">Профиль</a></li>-->
				<li><a href="/notifications">Уведомления{% not_count %}</a></li>
				{% if request.user.profile.badge_id %}
                <li><a href="/personal/structure">Личный кабинет</a></li>
				{% endif %}
                <li><a href="/news">Новости</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </nav>


</div>
{% endif %}
	{% block content %}
							
	{% endblock %}
{% block sigreg %}
<div id="fade-screen" class="fade-screen"></div>
<div id="login_form" class="pop-up" >
      <div class="close"><a id="login_form_close" href="javascript:void(0)"><img src="/static/img/popup-close.jpg" alt=""></a></div>
      <div class="title text-center">Вход</div>
	  <form id="log_form" role="form" class="ui form" method="POST" action="/login/">
		{% csrf_token %}
		<div class="field">
			<input autofocus="autofocus" id="id_login" name="login" placeholder="Имя пользователя или e-mail" type="text">
		</div>
		<div class="field">
			<input id="id_password" name="password" placeholder="Пароль" type="password">
		</div>
		<button class="enter" type="submit">Войти</button>
		<a href="/password/reset/" class="forgot text-center">Забыли пароль?</a>
	  </form>
</div>
<div id="reg_form" class="pop-up">
      <div class="close"><a id="reg_form_close" href="javascript:void(0)"><img src="/static/img/popup-close.jpg" alt=""></a></div>
      <div class="title text-center">Регистрация</div>
      <div class="sup-title">Заполните следующие поля:</div>
			<form role="form" id="signup_form" class="ui form" method="post" action="/signup/">
					{% csrf_token %}
							<input class="inp-form" autofocus="autofocus" id="id_username" maxlength="30" 
								   name="username" placeholder="Имя пользователя" type="hidden">
						<div class="field">
							<input id="id_email" name="email" placeholder="E-mail адрес" type="email">
						</div>
						<div class="field">
							<input id="id_phone" maxlength="20" name="phone" placeholder="Номер телефона" type="text">
						</div>
						<div class="field">
							<input id="id_password1" name="password1" placeholder="Пароль" type="password">
						</div>
						<div class="field">
							<input id="id_password2" name="password2" placeholder="Пароль (еще раз)" type="password">
						</div>
						<!--<div class="field">
							<div class="g-recaptcha" data-sitekey="6LdKQCcTAAAAAPnOsoBigotg1-cVemieelxiHy6T"></div>
						</div>-->
						<div class="field">
              <input id="id_privacy" name="privacy" type="checkbox">
							<label id="reg_label" for="id_privacy">Я принимаю <a target="_blank" href="/agreement">условия обработки персональных данных</a> и <a target="_blank" href="/user_agreement">пользовательское соглашение</a></label>
            </div>
							<button class="enter" id="regSubmitButt" type="submit" data-loading-text="Подождите...">Готово</button>
					</form>
</div>
<div id="callback_form" class="pop-up">
      <div class="close"><a id="call_form_close" href="javascript:void(0)"><img src="/static/img/popup-close.jpg" alt=""></a></div>
      <div class="title text-center">Обратный звонок</div>
			{% if user.is_authenticated %}
					<form id="call_form" class="ui form"  method="POST">
					{% csrf_token %}
						<div class="field">
							  <label for="id_area">Выберите регион:</label>
                <select id="id_regions" name="area">
                    {% if request.user.profile.area %}
                    <option value="{{ request.user.profile.area.id}}" selected="selected"></option>
                    {% else %}
                    <option value="{% user_aid %}" selected="selected">---------</option>
                    {% endif %}
					{% regions %}
                </select>
						</div>
						<div class="field">
							<label for="id_area">Телефон:</label>
							<input id="id_phone_call" name="phone" type="text" placeholder="Телефон" value="{{ request.user.profile.phone }}">
						</div>
						<div class="field">
							<label for="id_area">Комментарий:</label>
							<textarea rows="5" id="id_comment" name="comment" placeholder="Комментарий" type="text"></textarea>
						</div>
              <button class="enter" type="submit">Отправить</button>
				</form>
			{% else %}
					<div class="sup-title">Вы не зарегистрированы.</div>
					<button class="enter" onclick="window.location.href='/signup'" type="submit">ЗАРЕГИСТРИРОВАТЬСЯ</a>
			{% endif %}
	</div>
<div id="callback_success_form" class="pop-up">
      <div class="close"><a id="call_succ_form_close" href="javascript:void(0)"><img src="/static/img/popup-close.jpg" alt=""></a></div>
			<div class="title text-center">Обратный звонок</div>
			<div class="sup-title">Ваша запрос успешно отправлен. Ожидайте звонка.</div>
	</div>
{% endblock %}
<section class="footer">
            <div class="container">
              
              <div class="row">
                
                <div class="col-md-6">
                  <h2>О НАС</h2>
                  <div class="row">
                  <div class="col-md-4 col-sm-6">
                  <ul class="foot_links">
										<li><a href="">Главная</a></li>
										<li><a href="/jobs">Вакансии</a></li>
                      
                  </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                   <ul class="foot_links">
                    <li><a href="/earn">Зарабатывай</a></li>
                    <li><a href="/rest">Отдыхай</a></li>
                  </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                   <ul class="foot_links">
                    <li><a href="/news">Новости</a></li>
										<li><a href="/come">Контакты</a></li>
                  </ul>
                </div>
                </div>
                </div>
                <div class="col-md-3  col-sm-6 col-md-offset-3 contacts">
                  <h2>Контакты</h2>
                  <span class="adres_foot">
										г.Москва Октябрская ул., д. 36<br>
										г. Москва, Комсомольская площадь., дом 2 подъезд 1, этаж 2, ТЦ «Казанский»
									</span>
                   <span class="tel_foot">8-495-632-01-00</span>
                    <span class="tel_foot">8-800-700-71-85</span>
                     <span class="mail_foot">hr-moscow@leaderteam.ru</span>
                </div>

              </div>
            </div>
           </section>
<section class="copyright">
            <div class="container">
              <div class="row">
              <div class="col-md-8">
                <span class="copy_r">&copy;1999-2017 Leaderteam. Все права защищены</span>
              </div>
              <div class="col-md-4">
                <div class="soc_icons">
                <a href="https://vk.com/pro_leaderteam"><img src="/static/img/vk_icon.png"></a>
                <a href="https://www.facebook.com/LeaderTeamClub/"><img src="/static/img/fb_icon.png"></a>
                <a href="https://www.instagram.com/leader.team/"><img src="/static/img/insta_icon.png"></a>
                <a href="http://www.odnoklassniki.ru/group/51791989244062"><img src="/static/img/odnokl_icon.png"></a>
                </div>
              </div>
              </div>
            </div>
          </section>
{% include "req_modal.html" %}
<input id="filled_check" type="hidden" value="{{ request.user.profile.filled|yesno:'true,false' }}" />
{% block scripts %}

{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67702195-1', 'auto');
  ga('send', 'pageview');

</script>

<script src="{% static 'js/cross.js' %}"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter43263724 = new Ya.Metrika({
                    id:43263724,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/43263724" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter →-->

</body>
</html>