{% extends 'basis.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_aid %}
{% load cache %}


{% block extend_header %}
	<script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block content %}
<section class="section_2">
        <div class="main_title">
          <h1>НАЙДИТЕ РАБОТУ С НАШЕЙ ПОМОЩЬЮ <br>ПРЯМО СЕЙЧАС</h1>
        </div>

        <div class="container">
          <div class="row padd">
                <form action="/jobs" method="get" class="filter">
                        <div class="row">
                            <div class="col-md-5 form-inline">
								<h4>
									Позиция:
								</h4>
                                {{ jobs.form.position|add_class:"ui selection transparent dropdown" }}
								<script type="text/javascript">
                                    $('#id_position').val("6");
                                </script>
                            </div>
							<div class="col-md-5 form-inline">
								<h4>
									Регион:
								</h4>
                                {{ jobs.form.area|add_class:"ui selection transparent dropdown" }}
                                <script type="text/javascript">
                                    $('#id_area').val("{% user_aid %}");
                                </script>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="search_btn">искать</button>
                            </div>
                        </div>
                    </form>                
          </div>
          <div class="row text-center">
            <h2 class="top_title_2">Зарегистрируйтесь и получите доступ к 1100 вакансий</h2>
            <button id="signup_but" class="top_btn_2">Регистрация</button>
          </div>
        </div>

      </section>

        <section class="slider">
          <h2 class="slider_title">Горящие вакансии</h2>
          <div class="owl-carousel vac-slider">
			  {% for job in hot_jobs %}
              <div class="item">
                <a href="/jobs/{{ job.id }}">
                  <span class="icon" style="background: url('{{ job.position.image.url }}') no-repeat;"></span>
                  <span class="info">
                    <span class="name">{{ job.position }}</span>
                    <span class="town">{{ job.area }}</span>
                  </span>
                </a>
              </div>
			  {% endfor %}
            </div>
        </section>

  <section class="section_3">
          <div class="container">
            <div class="row text-center">
              <h2 class="section_3_title">как работает сайт</h2>
              <div class="col-md-4" id="vac_choose">
								<input type="hidden" value="{% user_aid %}" id="vac_choose_reg" />
                <img src="/static/img/section_3_icon_1.png">
                <span class="step_number">1.</span>
                <span class="step_info">Выберите вакансию</span>
              </div>
              <div class="col-md-4" id="signup_but2">
                <img src="/static/img/section_3_icon_2.png">
                 <span class="step_number">2.</span>
                 <span class="step_info">Зарегистрируйтесь</span>
              </div>
              <div class="col-md-4">
                <img src="/static/img/section_3_icon_3.png">
                 <span class="step_number">3.</span>
                <span class="step_info">Получите работу</span>
              </div>
            </div>
          </div>
        </section>
        <section class="section_4">
          <div class="container">
            <div class="row">
              <div class="col-md-6 text-center">
                <h2 class="section_4_left_title">о компании в цифрах</h2>
                    <div class="col-md-6">
                      <img src="/static/img/section_4_left_icon-1.png">
                      <span class="icon_text"><span class="small_t">Более</span> <span class="big_t">10 лет</span> <br> <span class="bold_t">на рынке</span></span>
                    </div>
                           <div class="col-md-6">
                      <img src="/static/img/section_4_left_icon-2.png">
                      <span class="icon_text"><span class="small_t">Более</span> <span class="big_t">1500</span> <br> <span class="bold_t"> Проектов</span></span>
                    </div>
                                        <div class="col-md-6">
                      <img src="/static/img/section_4_left_icon-3.png">
                      <span class="icon_text"><span class="small_t">Более </span><span class="big_t">40</span><br> <span class="bold_t">офисов</span></span>
                    </div>
                           <div class="col-md-6">
                      <img src="/static/img/section_4_left_icon-4.png">
                      <span class="icon_text"><span class="small_t">Более</span><span class="bold_t"> 200</span><br> <span class="big_t">Городов</span></span>
                    </div>
                    <div class="col-md-12">
                       <img src="/static/img/section_4_left_icon-5.png">
                       <span class="icon_text"><span class="small_t">Более</span> <span class="big_t">20 000 </span><br><span class="bold_t">СОТРУДНИКОВ</span></span>
                    </div>
                  </div>

              <div class="col-md-6">
                <h3 class="right_bl_title">ЛИДЕР ТИМ. БОЛЬШЕ ЧЕМ <br> ПРОСТО РАБОТА</h3>
                <p class="company_text">Лидер Тим - один из самых крупных прямых  работодателей на территории России. У нас  вы можете найти более тысячи предложений , что позволяет практически каждому соискателю найти себе подходящую работу.</p>
                <div class="list_mark">
                  <img src="/static/img/mark.png">
                  <span class="lg_text_list"><a href="/jobs">Выбирай</a></span>
                  <span class="sm_text_list">Посмотри вакансии твоего города</span>
                </div>
                                <div class="list_mark">
                  <img src="/static/img/mark.png">
				  <span class="lg_text_list"><a href="/come">Приходи</a></span>
                  <span class="sm_text_list">Адреса наших офисов в Москве и регионах </span>
                </div>
                                <div class="list_mark">
                  <img src="/static/img/mark.png">
                  <span class="lg_text_list"><a href="/earn">Зарабатывай</a></span>
                  <span class="sm_text_list">Узнай как</span>
                </div>
                                <div class="list_mark">
                  <img src="/static/img/mark.png">
                  <span class="lg_text_list"><a href="/rest">Отдыхай</a></span>
                  <span class="sm_text_list">Корпоративная жизнь</span>
                </div>
              </div>
            </div>
          </div>
        </section>
		   {% if user.is_authenticated %}
           <section class="baner_2">
            
            <div class="container text-center">
              <div class="row">
              <h2>выберите регион, чтобы получать свежие новости<br> о вакансиях</h2>
              <div class="col-md-4 alt-sel bottom text-left col-md-offset-2">
				  <input type="hidden" value="{{request.user}}" id="uid"/>
                 <select id="id_area_subscribe" class="alt" name="area">
					 <option value="{% user_aid %}">Ваш регион</option>
					{% for r in regions %}
                   		<option value="{{ r.id }}">{{ r.area }}</option>
                   	{% endfor %}
                  </select>
              </div>
				<div class="col-md-4">
					<button id="subscribe_submit" class="request_btn">Подписаться</button>
				</div>
                
                <span>Мы предлагаем Вам подписаться на рассылку новостей "Лидертим"<br>
               Вы будете в курсе самых свежих предложений</span>
              </div>
            </div>
           </section>
		   {% endif %}
           <section class="news">
            <div class="container">
            <div class="row">
              <h2>Новости "лидертим"</h2>
				{% for new in news %}
              <div class="col-md-4">
                <a href="/news/{{ new.id }}" class="img-wrap"><img src="{{ new.thumbnail.url }}" alt=""></a>
               <p class="date">{{ new.date }}</p>
                <h3>{{ new.title }}</h3>
                <p>{{ new.content|safe|striptags|truncatechars:200 }}</p>
                <button class="more_info_btn" onclick="window.location.href='/news/{{ new.id }}'">подробнее</button>
              </div>
				{% endfor %}
            </div>
						<div class="col-md-12 text-center">
									<a href="/news" class="link">Все новости</a>
						</div>
            </div>
           </section>
        
           <section class="slider_2">
            <div class="container">
				<h2 class="partner_text">НАШИ ПАРТНЕРЫ</h2>
            </div>
            <div class="owl-carousel part-slider">
              <div class="item">
                <img src="/static/img/dellin.png" alt="">
              </div>
              <div class="item">
                <img src="/static/img/X5.png" alt="">
              </div>
              <div class="item">
                <img src="/static/img/Lenta_logo.png" alt="">
              </div>
              <div class="item">
                <img src="/static/img/Magnit.png" alt="">
              </div>
			  <div class="item">
                <img src="/static/img/wrigley.png" alt="">
              </div>
              <div class="item">
                <img src="/static/img/Sber.png" alt="">
              </div>
			  <div class="item">
                <img src="/static/img/unilever.png" alt="">
              </div>
				<div class="item">
                <img src="/static/img/Okey.png" alt="">
              </div>
				<div class="item">
                <img src="/static/img/Diksi.png" alt="">
              </div>
				<div class="item">
                <img src="/static/img/Metro.png" alt="">
              </div>
				<div class="item">
                <img src="/static/img/bonduelle.png" alt="">
              </div>
				<div class="item">
                <img src="/static/img/coca.png" alt="">
              </div>
				<div class="item">
                <img src="/static/img/EFES.png" alt="">
              </div>
				<div class="item">
                <img src="/static/img/in_bev.png" alt="">
              </div>
				<div class="item">
                <img src="/static/img/inditex.png" alt="">
              </div>
				<div class="item">
                <img src="/static/img/kimberly.png" alt="">
              </div>
				<div class="item">
                <img src="/static/img/Lada_logo.png" alt="">
              </div>
				<div class="item">
                <img src="/static/img/SCA.png" alt="">
              </div>
				<div class="item">
                <img src="/static/img/VTB24.png" alt="">
              </div>
				<div class="item">
                <img src="/static/img/SDS.png" alt="">
              </div>
				
            </div>
           </section>
	<div id="fade-screen" class="fade-screen"></div>
	<div id="subs_success_form" class="pop-up">
    <div class="close"><a id="subs_succ_form_close" href="javascript:void(0)"><img src="/static/img/popup-close.jpg" alt=""></a></div>
		<div class="title text-center">ПОДПИСКА</div>
		<div class="sup-title">Вы успешно пописались на еженедельную рассылку вакансий по региону <span id="back_reg"></span></div>
	</div>
{% endblock %}
{% block scripts %}
			 
{% endblock %}