{% extends 'basis.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'masterzone_menu.html' %}    
            </div>
            <div class="col-md-9">
                <div class="group-wrap">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="group-head">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="name">АДМИНИСТРИРОВАНИЕ</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="member-wrap">
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>  
            </div>
        </div>
    </div>
{% endblock %}