<aside class="sidebar">
    <ul class="sidebar-menu">
        <li><a href="/masterzone/calls">Запросы обратного звонка</a></li>
        <!--<li><a href="#">Запись на собеседование</a></li>-->
        <li><a href="/masterzone/news">Новости</a></li>
        <li><a href="/masterzone/subscribers">Подписки</a></li>
        <li><a href="/masterzone/documents">Библиотека документов</a></li>
    </ul>
</aside> 