<div id="sidebar_menu" class="ui vertical secondary labeled icon menu">
    {% if request.user.profile.filled %}
    <a href="/jobs" class="item">
        <i class="book icon"></i>
        Вакансии
    </a>
    <a href="/replies" class="item">
        <i class="browser icon"></i>
        Мои заявки
    </a>
    <a href="/notifications" class="item">
        <i class="bell icon"></i>
        Уведомления
    </a>
    <a href="/profile" class="item">
        <i class="user icon"></i>
        Профиль
    </a>
    <a href="/logout" class="item">
        <i class="sign out icon"></i>
        Выйти
    </a>
    {% else %}
    {% if request.user.profile.filled %}
    <a href="/profile" class="item">
        <i class="user icon"></i>
        Профиль
    </a>
    {% endif %}
    <a href="/logout" class="item">
        <i class="sign out icon"></i>
        Выйти
    </a>
    {% endif %}
</div>