{% extends 'basis.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block extend_header %}

<link href="{% static 'css/masterzone.css' %}" rel="stylesheet">

<script type="text/javascript" src="{% static 'js/masterzone.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="news-list-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                {% include 'masterzone_menu.html' %}    
                </div>
                <div class="col-md-9"><h1 class="news-list-title">БИБЛИОТЕКА ДОКУМЕНТОВ</h1></div>
                <div class="col-md-9"><h3>ОБЩИЕ ДОКУМЕНТЫ</h3></div>
                <div class="col-md-9">                   
                    <table class="table">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Тип</th>
                            <th>Дата добавления</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for g in general %}
                        <tr>
                            <td>{{ g.doc_name }}</td>
                            <td>{{ g.doc_type }}</td>
                            <td nowrap>{{ g.doc_date }}</td>
                            <td>
                                <button class="btn btn-danger" onclick="window.location.href='/masterzone/documents/delete/{{ g.id }}'">
                                    УДАЛИТЬ
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    
                </div>
                <div class="col-md-9 col-md-offset-3"><h3>ПЕРСОНАЛЬНЫЕ ДОКУМЕНТЫ</h3></div>
                <div class="col-md-9 col-md-offset-3">                   
                    <table class="table">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Тип</th>
                            <th>Дата добавления</th>
                            <th>Номер бэйджа</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in personal %}
                        <tr>
                            <td>{{ p.doc_name }}</td>
                            <td>{{ p.doc_type }}</td>
                            <td td nowrap>{{ p.doc_date }}</td>
                            <td>{{ p.badge_id }}</td>
                            <td>
                                <button class="btn btn-danger" onclick="window.location.href='/masterzone/documents/delete/{{ p.id }}'">
                                    УДАЛИТЬ
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                <div class="col-md-9 col-md-offset-3">
                    <hr class="hr-dotted"></hr>
                    <form id="id_doc_form" method="POST" action="" enctype="multipart/form-data" class="ui inline form">
                        {% csrf_token %}
                        
                        <div class="sixteen wide field">
                            <label for="id_doc_name">Название:</label>
                            <input id="id_doc_name" maxlength="256" name="doc_name" type="text">
                        </div>
                        <div class="six wide field">
                            <label for="id_doc_type">Тип документа:</label>
                            <select id="id_doc_type" maxlength="3" name="doc_type" class="ui dropdown selection" style="font-size:16px!important;">
                                <option value="doc">Word</option>
                                <option value="xls">Excel</option>
                                <option value="pdf">PDF</option>
                            </select>
                        </div>
                        <div class="six wide field">
                            <label for="id_badge_id">Номер бэйджа:</label>
                            <input id="id_badge_id" maxlength="64" name="badge_id" type="text">
                        </div>
                        <div class="inline fields">
                        <div class="ten wide field">
                            <label for="id_doc_path">Файл:</label>
                            <input id="id_doc_path" name="doc_path" type="file" style="font-size:16px!important;">
                        </div>
                        <div class="six wide field">
                            <input type="submit" value="СОХРАНИТЬ" class="btn btn-primary"></input>
                        </div>                        
                        </div>
                    </form>
                    <hr class="hr-dotted"></hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}