<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Вы уже откликнулись на одну вакансию</h4>
      </div>
      <div class="modal-body">
        Вы уже откликнулись на одну вакансию. Отменить текущую заявку?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
        <button type="button" id="delete_reply" class="btn btn-primary">Да</button>
      </div>
    </div>
  </div>
</div>