{% extends "basis.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_aid %}

{% block extend_header %}
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/validation.js' %}"></script>

{% endblock %}

{% block content %}
<div class="vac-single-wrap">
  <div class="container">
            <div class="row">
                <div class="col-md-12"><a href="javascript:history.go(-1)" class="return-to">Вернуться к списку вакансий</a></div>
                <div class="col-md-12">
                    <div class="vac-single">
                        <div class="head">
                                <div class="name"><!--<img src="/static/img/vac-list-icon.jpg" alt="">--><span>{{ job.position|upper }}</span></div> 
                                <div class="published">{% if job.urgent %}СРОЧНАЯ{% endif %}</div>
                            </div>
                            <div class="info">
                                <div class="top-info">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="money">
                                                от <strong>{{ job.min_rate }}</strong> до <strong>{{ job.max_rate }}</strong>  за месяц
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <span>Регион:</span> {{ job.area }}  
                                        </div>
                                    </div>
                                </div> 
                                <div class="schedule">
                                    <span>График работы:</span> {% for s in job.shedule.all %}{{ s }}{% endfor %}
                                </div> 
                                <div class="description">
                                    <span>Описание:</span>
                                    <p>{{ job.description|safe }}</p>
                                </div>
                            </div>
                            <div class="bottom-vac">
                                <div class="col-md-4">
                                    {% if user.is_authenticated %}
                                    <form id="reply_form" method="POST">
                                      {% csrf_token %}
                                        <input id="id_vacancy" type="hidden" name="vacancy" value="{{ job.id }}"/>
                                        {% if not replies.count >= 1 %}
                                        <button type="submit" class="apply" id="for_filled_check_job">Подать заявку</button>
                                        {% else %}
                                        <button type="button" id="cancel" class="apply cancel_modal" data-toggle="modal" data-id="{{ job.id }}" data-target="#myModal">Подать заявку</button>
                                        {% endif %}
                                        {{ reply_form.errors}}
                                    </form>
                                  {% else %}
                                  <h4>Вы должны <a href="/signup/">зарегистрироваться</a> для того, чтобы подать заявку.</h4>
                                  {% endif %}
                                </div>
                                <div class="clear"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>

	{% include "cancel_modal.html" %}
{% endblock %}

{% block scripts %}
		  <script src="{% static 'js/jobs.js' %}"></script>
	{% endblock %}


<div class="ui padded grid">
    <div class="sixteen wide column">
        <div  class="ui segment grid">
            <div class="sixteen wide column">
                <h3>{{ job.position|upper }}<small class="rght">{{ job.created }}</small></h3>
                <div class="ui divider"></div>
                <h4 class="ui red header">от {{ job.min_rate }} до {{ job.max_rate }} руб.</h4>
                <p><strong>Регион: </strong> {{ job.area }}</p>
                <strong>График: </strong>
                {% for s in job.shedule.all %}
                    <div class="ui medium blue label">{{ s }}</div>
                {% endfor %}
                <br></br>
                <!--<strong>Описание: </strong>
                <br></br>-->
                <p>{{ job.description|safe }}</p>
                <div class="ui divider"></div>
                <form id="reply_form" method="POST">
                    {% csrf_token %}
                    <input id="id_vacancy" type="hidden" name="vacancy" value="{{ job.id }}"/>
                    {% if not replies.count >= 1 %}
                    <button id="for_filled_check_job" type="submit" class="ui small green button">Откликнуться</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>