{% extends "basis.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load pagination_tags %}
{% load user_aid %}

{% block extend_header %}
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/validation.js' %}"></script>

{% endblock %}

{% block content %}
<div class="vac-list-wrap">
      <div class="container">
          <div class="row">
                <div class="col-md-12">
                    <!--<div class="redact text-center"><a href="javascript:void(0)">Форма поиска</a></div>-->
                    <form action="" method="get" class="filter">
                        <div class="row">
                            <div class="col-md-5 form-inline">

                                <label for="id_position">Позиция:</label>
                                {{ jobs.form.position|add_class:"ui search selection dropdown" }}

                              </div>
                            <div class="col-md-1 form-inline">
								
                                {{ jobs.form.rotational }}
								<label id="for_rot" for="id_rotational"><span id="span_rot">Вахта:</span></label>
                            </div>
							<div class="col-md-6 form-inline">
                                <label for="id_region">Регион:</label>
                                {{ jobs.form.area|add_class:"ui search selection dropdown" }}
								<script type="text/javascript">
                                   
                                </script>
                            </div>
                            <!--<div class="col-md-6">
                                <label for="id_shedule">График:</label>
                                {{ jobs.form.shedule|add_class:"ui dropdown" }}
                            </div>-->
                        </div>
                        <div class="row mrg">
                            <div class="col-md-4">
                                {{ jobs.form.max_rate__gte|attr:"type:text"|add_class:"form-control custom-form-control"|attr:"placeholder:Уровень дохода от"}}
                            </div>
                            <div class="col-md-4">
                                <!--{{ jobs.form.min_rate__lte|attr:"type:text"|add_class:"form-control custom-form-control"|attr:"placeholder:Уровень дохода до" }}-->
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="find">Искать</button>
                            </div>
                        </div>
                    </form>
					<hr class="hr-dotted"/>
                </div>
                {% autopaginate jobs.qs 10 as vac%}
                <div class="col-md-12">
                    <div class="vac-list-title text-center">Количество подходящих вакансий: {{ jobs.count }}</div>
                </div>
            </div>
      </div>
        
        <div class="vac-list">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% for v in vac %}
                        <div class="vacitem">
                            <div class="head">
								<div class="name"><!--<img src="static/img/vac-list-icon.jpg" alt="">--><span><a href="jobs/{{ v.id }}">{{ v.position|upper }}</a></span></div> 
                                <div class="published">{% if v.urgent %}СРОЧНАЯ{% endif %}</div>
                            </div>
                            <div class="info">
                                <div class="top-info">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="money">
                                                от <strong>{{ v.min_rate }}</strong> до <strong>{{ v.max_rate }}</strong>  за месяц
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <span>Регион:</span> {{ v.area }}   
                                        </div>
                                    </div>
                                </div> 
                                <div class="schedule">
                                    <span>График работы:</span> {% for s in v.shedule.all %}{{ s }}{% endfor %}
                                </div>   
                            </div>
                            <div class="bottom-vac">
                                <div class="col-md-4">
                                  {% if user.is_authenticated %}
                                    <form id="reply_form" method="POST">
                                      {% csrf_token %}
                                        <input id="id_vacancy" type="hidden" name="vacancy" value="{{ v.id }}"/>
                                      
                                        {% if not replies.count >= 1 %}
                                        <button type="submit" class="apply" id="for_filled_check_jobs">Подать заявку</button>
                                        {% else %}
                                        <button type="button" class="apply cancel_modal" data-toggle="modal" data-id="{{ v.id }}" data-target="#myModal">Подать заявку</button>
                                        {% endif %}
                                    </form>
                                  {% else %}
                                  <h4>Вы должны <a href="signup/">зарегистрироваться</a> для того, чтобы подать заявку.</h4>
                                  {% endif %}
                                </div>
                                <div class="col-md-3 text-center">
                                    <a href="jobs/{{ v.id }}" class="more">Подробнее о позиции</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        {% endfor %}
    </div>
</div>
        </div>
        </div>
                {% paginate %}

	{% include "cancel_modal.html" %}
{% endblock %}
		{% block scripts %}
		  <script src="{% static 'js/jobs.js' %}"></script>
	{% endblock %}
<div class="ui pagination menu">
            {% if page.has_previous %}
            <a class="item" href="?page={{ page.previous_page_number}}"><</a>
            {% endif %}
            {% for p in pages.page_range %}
                {% if p == page.number %}
                    <a href="/jobs?page={{p}}" class="active item">{{ p }}</a>
                {% else %}
                    <a href="/jobs?page={{p}}" class="item">{{ p }}</a>
                {% endif %}
            {% endfor %}
            {% if page.has_next %}
            <a class="item" href="?page={{ page.next_page_number}}">></a>
            {% endif %}
        </div>
<form class="ui form" action="" method="get">
            <div class="fields">
                <div class="four wide field">
                    
                </div>
                <div class="four wide field">
                    <label for="id_region">Регион:</label>
                    {{ jobs.form.area|add_class:"ui search selection dropdown" }}
                </div>
                <div class="eight wide field">
                    <label for="id_shedule">График:</label>
                    {{ jobs.form.shedule|add_class:"ui dropdown" }}
                </div>
            </div>
            <div class="fields">
                <div class="eight wide field">
                    <label for="id_rate">Уровень компенсации:</label>
                    <div class="two fields">
                        <div class="field">
                            {{ jobs.form.max_rate__gte|attr:"type:text"|attr:"placeholder:от" }}
                        </div>
                        <div class="field">
                            {{ jobs.form.min_rate__lte|attr:"type:text"|attr:"placeholder:до" }}
                        </div>
                    </div>
                </div>
                <div id="filter_adj" class="four wide field">
                    <input class="ui small primary button" type="submit" value="Поиск"/>
                    <a class="ui small red button" href="jobs">Очистить</a>
                </div>
            </div>
        </form>
{% if page_obj.has_previous %}
<li><a href="?page{{ page_suffix }}={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}"><img src="static/img/arr-prev.jpg" alt=""></a></li>
{% endif %}
                {% for page in pages %}
                    {% if page %}
                        {% ifequal page page_obj.number %}
                            <li class="active"><a href="#">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?page{{ page_suffix }}={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li class="active">...</li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?page{{ page_suffix }}={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}"><img src="static/img/arr-next.jpg" alt=""></a></li>
                {% endif %}