{% extends "basis.html" %}
{% load l10n %}

{% block content %}
<div class="vac-list-wrap">
       <div class="vac-list">
            <div class="container">
                    <div class="col-md-12">
                      {% if notifications.count < 1 %}
                         <div class="sixteen wide center aligned column">
                            <h3 class="ui red header">Уведомлений пока нет.</h3>
                         </div>
                      {% else %}
                        {% for n in notifications %}
                        
                        <div class="vacitem">
                            <div class="head">
                                <div class="name"><!--<img src="static/img/vac-list-icon.jpg" alt="">--><span>{{ n.created }}</span> {% if n.new %}<a class="ui orange empty circular label"></a>{% endif %}</div> 
                                <!--<div class="published">{{ v.created }}</div>-->
                            </div>
                            <div class="info">
                                <div class="top-info">
                                    <div class="row">
                                        
                                        <div class="col-md-12">
                                            {{ n.text | safe }}   
                                        </div>
                                    </div>
                                </div>   
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
              </div>
        </div>
</div>
{% endblock %}

<div class="ui padded grid">
    <div class = "sixteen wide center aligned column">
        <h1 class="ui header">УВЕДОМЛЕНИЯ</h1>
        <div class="ui divider"></div>
    </div>
    {% if notifications.count < 1 %}
    <div class="sixteen wide center aligned column">
        <h3 class="ui red header">Уведомлений пока нет.</h3>
    </div>
    {% else %}
    <div class="sixteen wide column">
        {% for n in notifications %}
        <div  class="ui segment grid">
            <div class="sixteen wide column">
                <h3>{{ n.created }}</h3>
                <div class="ui divider"></div>
                <p>{{ n.text | safe }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>