{% extends "basis.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<div class="vac-list-wrap">
       <div class="vac-list">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% for r in replies %}
                        <div class="vacitem">
                            <div class="head">
                                <div class="name"><!--<img src="static/img/vac-list-icon.jpg" alt="">--><span>{{ r.vacancy.position|upper }}</span></div> 
                                <!--<div class="published">{{ v.created }}</div>-->
                            </div>
                            <div class="info">
                                <div class="top-info">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="money">
                                                от <strong>{{ r.vacancy.min_rate }}</strong> до <strong>{{ r.vacancy.max_rate }}</strong>  за месяц
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <span>Регион:</span> {{ r.vacancy.area }}   
                                        </div>
                                    </div>
                                </div> 
                                <div class="schedule">
                                    <span>График работы:</span> {% for s in r.vacancy.shedule.all %}{{ s }}{% endfor %}
                                </div>   
                            </div>
                            <div class="bottom-vac">
                                <div class="col-md-4">
                                  {% if r.active %}
                                  <button id="for_filled_check_reply" onclick="window.location.href='reply/delete/{{ r.id }}'" class="apply">Отозвать</button>
                                  {% else %}
                                  <button class="apply disabled" onclick="return false;">Отозвана</button>
                                  {% endif %}
                                </div>
                                <!--<div class="col-md-3 text-center">
                                    <a href="jobs/{{ r.vacancy.id }}" class="more">Подробнее о позиции</a>
                                </div>-->
                                <div class="clear"></div>
                            </div>
                        </div>
                        {% endfor %}
    </div>
</div>
        </div>
        </div>
{% endblock %}

<div class="ui padded grid">
    <div class = "sixteen wide center aligned column">
        <h1 class="ui header">МОИ ЗАЯВКИ</h1>
        <div class="ui divider"></div>
    </div>
    <div class="sixteen wide column">
        {% for r in replies %}
        <div  class="ui {% if not r.active %}disabled{% endif %} segment grid">
            <div class="sixteen wide column">
                <h3>{{ r.vacancy.position|upper }}
                    {% if r.active %}
                    {% if r.status.id == 1 %}
                        <div class="ui olive label">{{ r.status }}</div>
                    {% elif r.status.id == 0 %}
                        <div class="ui green label">{{ r.status }}</div>
                    {% elif r.status.id == 8 %}
                        <div class="ui red label">{{ r.status }}</div>
                    {% else %}
                        <div class="ui yellow label">{{ r.status }}</div>
                    {% endif %}
                    {% endif %}
                    <small class="rght">{{ r.created }}</small>
                </h3>
                <div class="ui divider"></div>
                <h4 class="ui red header">от {{ r.vacancy.min_rate }} до {{ r.vacancy.max_rate }} {{ r.vacancy.rate_type }}</h4>
                <p><strong>Регион: </strong> {{ r.vacancy.area }}</p>
                <strong>График: </strong>
                {% for s in r.vacancy.shedule.all %}
                    <div class="ui medium blue label">{{ s }}</div>
                {% endfor %}
                <br></br>
                <!--<strong>Описание: </strong>
                <br></br>-->
                <p>{{ r.vacancy.description|safe|truncatechars_html:195 }}</p>
                <div class="ui divider"></div>
                {% if r.active %}<a href="reply/delete/{{ r.id }}" class="ui small red button">Отозвать</a>{% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>