{% load user_aid %}
{% load widget_tweaks %}

<div class="modal fade" id="req_modal" tabindex="-1" role="dialog" aria-labelledby="req_modal_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalHeader">Ваш профиль не заполнен!</h4>
      </div>
      <div class="modal-body">
          <form id="profile_form" class="ui form" method="POST">
            {% csrf_token %}
            <div id="profile_form_errors" class="ui error message"></div>
            <div class="b-quest-form">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-name row fields">
                    <div class="field">
                      <input id="id_l_name" maxlength="30" name="l_name" type="text" placeholder="Фамилия" value="{{ request.user.profile.l_name}}"/>
                    </div>
                    <div class="field">
                      <input id="id_f_name" maxlength="30" name="f_name" type="text" placeholder="Имя" value="{{ request.user.profile.f_name}}"/>
                    </div>
                    <div class="field">
                      <input id="id_m_name" maxlength="30" name="m_name" type="text"placeholder="Отчество" value="{{ request.user.profile.m_name}}"/>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label-head label-head--inline">
                      <span>Дата рождения:</span>
                    </label>
                  </div>
                  <div id="birth_date" class="fields"> 
                    <div class="four wide field">
                      <input id="id_bd_day" maxlength="2" name="bd_day" type="text" placeholder="День" value="{{ request.user.profile.bd_day}}"></input>
                    </div>
                    <div class="eight wide field">
                      {{ profile_form.bd_month|add_class:"ui selection dropdown"}}
                    </div>
                    <div class="four wide field">
                      <input id="id_bd_year" maxlength="4" name="bd_year" type="text" placeholder="Год" value="{{ request.user.profile.bd_year}}"></input>
                    </div>
                  </div>
                  <div id="date_check">
                    <div class="ui basic red pointing prompt label">Введите корректную дату! (День Месяц Год)</div>
                  </div>
                </div>       
              </div>
              <div class="inline fields">
                <div class="eight wide field">
                  <label class="label-head label-head--inline">
                    <span>Гражданство:</span>
                  </label>
                </div>
                <div class="eight wide field">
                  <label class="label-head label-head--inline">
                    <span>Регион:</span>
                  </label>
                </div>
              </div>
              <div class="inline fields">
                <div class="eight wide field">
                    {{ profile_form.citizenship|add_class:"ui search selection dropdown"}}
                </div>
                <div class="eight wide field">
                    {{ profile_form.area|add_class:"ui search selection dropdown"}}
                    <script type="text/javascript">
                        
                    </script>
                </div>
              </div>
              <div class="label-head">
                <span>Тел. Мобильный:</span>
              </div>
              <div class="form-inline form-mobile-phone field">
                <div class="form-group">
                    <input id="id_phone" class="form-control custom-form-control" maxlength="20" name="phone" type="text" placeholder="+7 (___) ___-__-__" value="{{ request.user.profile.phone}}"></input>
                </div>
              </div>
              <div class="label-head">
                <span>Пожелания к работе:</span>
              </div>
              <div class="field">
                <textarea rows="5" id="id_experience" placeholder="Описание" name="experience">{% if request.user.profile.experience %}{{ request.user.profile.experience }}{% endif %}</textarea>
              </div>
              <input type="submit" id="edit_submit" form="profile_form" class="btn btn-form btn-block" value="Отправить заявку" />
            </div>  
          </form>
          <div id="success_info">
              <h3>
                  Благодарим за предоставленную информацию. Теперь Вы можете откликнуться на вакансию!  
              </h3>
          </div>
      </div>
    </div>
  </div>
</div>