{% extends 'basis.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load pagination_tags %}

{% block content %}
    <div class="news-list-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><h1 class="news-list-title">Новости компании</h1></div>
                {% autopaginate news 5 %}
                {% for new in news %}
                <div class="col-md-12">
                    <div class="item">
                        <div class="head">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="news-name">{{ new.title }}</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="news-date">{{ new.date }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><div class="img-wrap"><a href="/news/{{ new.id }}"><img src="{{ new.thumbnail.url }}" alt=""></a></div></div>
                            <div class="col-md-8">
                                <div class="info">
                                    
                                    <div class="text">{{ new.content|safe }}</div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="more-wrap"><a href="/news/{{ new.id }}" class="more">подробнее</a></div>
                    </div>
                </div>
                {% empty %}
                <div class="col-md-12">
                    НЕТ НОВОСТЕЙ
                </div>
                {% endfor %}
            </div>
        </div>
{% paginate %}
    </div>
{% endblock %}